.str-video__search-input__container {
  display: flex;
  align-items: center;
  gap: var(--str-video__spacing-xs);
  padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);

  &.str-video__search-input__container--active {
    padding-inline-end: var(--str-video__spacing-xs);
  }

  input {
    flex: 1;
    min-width: 0;
    padding-block: var(--str-video__spacing-xxxs);
  }

  .str-video__search-input__clear-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    inline-size: var(--str-video__button-visual-height-xs);
    block-size: var(--str-video__button-visual-height-xs);
    padding: var(--str-video__button-padding-y-xs)
      var(--str-video__button-padding-x-icon-only-xs);
  }

  .str-video__search-input__icon--active,
  .str-video__search-input__icon {
    display: inline-block;
    flex-shrink: 0;
    inline-size: var(--str-video__icon-size-sm);
    block-size: var(--str-video__icon-size-sm);
  }
}
