.search {
  @apply bg-video-grey-500 flex items-center relative text-video-white/50 mt-4;
  border: 1px solid #272a30;
  border-radius: 44px;
  height: 25px;
}

.amount {
  @apply text-video-grey-400;
}

.input {
  @apply bg-video-transparent p-2 relative border-none z-10 cursor-pointer w-full h-full;
  font-size: 10px;
}

.input:focus,
.input:hover {
  @apply bg-video-transparent relative border-none cursor-pointer;
}

.searchIcon {
  @apply absolute z-0;
  height: 15px;
  right: 4px;
  top: 4px;
}

.participant {
  @apply flex items-center justify-between mt-2 text-sm;
}

.media {
  @apply flex;
}

.video,
.mic {
  @apply flex text-video-red-400;
  height: 13px;
}

.videoOff,
.micMuted {
  @apply flex text-video-red-400;

  height: 13px;
}
