.search {
  @apply bg-demo-grey-lighter flex items-center relative text-white/50;
  border: 1px solid #272a30;
  border-radius: 44px;
  height: 25px;
}

.amount {
  @apply text-demo-grey-light;
}

.input {
  @apply bg-transparent p-2 relative border-none z-10 cursor-pointer w-full h-full text-xs;
}

.input:focus,
.input:hover {
  @apply bg-transparent relative border-none cursor-pointer;
}

.searchIcon {
  @apply absolute z-0;
  height: 15px;
  right: 4px;
  top: 4px;
}

.participant {
  @apply flex items-center justify-between  mt-2;
}

.mic {
  @apply flex text-demo-red-light;
  height: 13px;
}

.micMuted {
  @apply flex text-demo-red-light;

  height: 13px;
}
