.header {
  @apply grid justify-between items-center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-areas: 'participants elapsed latency';
}

.callIdentification {
  grid-area: participants;
  @apply flex items-center text-video-white;
}

.callId {
  @apply hidden sm:block md:max-w-[300px] lg:max-w-none;

  overflow: hidden;
  white-space: nowrap;

  text-overflow: ellipsis;
}

.logo {
  @apply mr-2 h-10 w-10;
}

.participants {
  grid-area: participants;
  @apply flex items-center;
}

.participants .logo {
  @apply flex sm:hidden;
}

.security {
  @apply hidden sm:flex;
}
.innerParticipants {
  @apply hidden sm:flex justify-between;
}

.avatars {
  @apply flex items-center relative;
}

.participant {
  @apply fixed flex items-center;
  z-index: 5;
}

.participant + .participant {
  @apply ml-4;
  z-index: 4;
}

.participant + .participant + .participant {
  @apply ml-8;
  z-index: 3;
}

.avatar {
  @apply rounded-full h-10 w-10;
}

.placeholder {
  @apply absolute flex items-center justify-center rounded-full h-10 w-10 bg-video-grey-400 text-video-grey-700 border-2 border-video-grey-200;
}

.placeholder:not(:first-of-type) {
  @apply absolute ml-4 z-10;
}

.names {
  @apply hidden sm:flex mr-8 ml-8 text-video-white;
  display: block;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin-left: 80px;
  margin-right: 12px;
}

.elapsedContainer {
  grid-area: elapsed;
  @apply flex items-center justify-center;
}
.elapsed {
  @apply bg-video-grey-800  text-xs text-video-white p-2 rounded-container;
}

.latency {
  grid-area: latency;
  @apply flex justify-end w-full;
}

.participantsToggle {
  grid-area: latency;
  @apply flex justify-end w-full items-end;
}

.latencyContainer {
  @apply flex text-video-white text-xs bg-video-grey-500 p-2 pl-2 rounded-container items-center justify-center w-auto;
}

.latencyIndicator {
  @apply h-1 w-1 rounded-full mr-2 ml-2;
}

.latencyIndicator.green {
  @apply bg-video-green-500;
}

.latencyIndicator.yellow {
  @apply bg-video-yellow-500;
}
.latencyIndicator.red {
  @apply bg-video-green-500;
}
