.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-errors .error {
  color: yellow;
  font-family: 'Monaco', monospace;
  font-size: 14px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-main {
  background-color: #282c34;
  color: white;
  height: 80vh;
  padding: 0 150px;
}

.App-call-control {
  display: flex;
}

.App-call-control > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.App-call-control > div button {
  margin-right: 5px;
}

.App-call-control > div.left {
  align-items: end;
}

.App-call-control > div.right {
  align-items: start;
}

.App-call-control > div div {
  padding: 5px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App pre.App-server-response {
  text-align: left;
  font-size: 14px;
  width: 80%;
  overflow: scroll;
}
