.root {
  @apply bg-demo-background-black rounded-container p-4;
  display: grid;
  grid-template-areas:
    'logo description'
    'button button';
}

.logo {
  @apply h-12 w-12;
  grid-area: logo;
  
}

.description {
  @apply text-white ml-1;
  grid-area: description;
}

.button {
  @apply mt-3;
  grid-area: button;
}
