#root {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

.intro-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.intro-area img {
  width: 8rem;
  aspect-ratio: 1;
  border-radius: 2rem;
  background: transparent;
}

.login-screen {
  display: grid;
  max-width: var(--max-width);
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  padding: 2rem;
  align-items: center;
  gap: 4rem;
}

@media screen and (max-width: 800px) {
  #root {
    padding: 0rem;
  }

  .intro-area img {
    width: 6rem;
  }

  .login-screen {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
  }
}

.user-list {
  border-radius: 1rem;
  max-width: 300px;
}

.user-list button {
  padding: 0.5rem 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  transition: background 150ms ease-out;
  cursor: pointer;
}

.user-list button:hover {
  background: var(--background-color-light);
}

img {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.user-list button:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* --- Home */
.home-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
}

.home-user-row {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-right: 2px solid #c4c4c4;
}

.home-user-row img {
  width: 120px;
  aspect-ratio: 1 / 1;
}

.home-user-row div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.home-user-row button {
  padding: 0.6rem 1.2rem;
  background: hsl(240, 100%, 50%);
  color: white;
  transition: background-color 200ms ease-out;
}

.home-user-row button:hover {
  background: hsl(240, 100%, 70%);
}

.home-user-row button:last-child {
  margin-top: auto;
}

.rooms-overview {
  height: 100vh;
  overflow-y: scroll;
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
}

.start-room-button {
  display: none;
}

.rooms-rows {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.room-card-button {
  padding: 0;
  background: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  overflow: hidden;
}

.room-card-button:hover {
  border-color: var(--prominent-color);
}

.room-card {
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 8px;
  background: var(--background-color-light);
  padding: 0.6rem 1.2rem;
  height: 100%;
}

.room-card > span {
  font-weight: light;
  font-size: 0.8rem;
  font-style: italic;
}

.hosts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 0.25rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--background-color);
}

.hosts-grid div {
  display: flex;
  align-items: center;
}

.hosts-grid img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.hosts-grid span {
  font-size: 0.8rem;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .home-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    position: relative;
  }

  .home-user-row {
    flex-direction: row;
    justify-content: space-between;
    border-right: 0px solid transparent;
  }

  .home-user-row h3 {
    display: none;
  }

  .home-user-row img {
    width: 60px;
  }

  .home-user-row button:last-child {
    display: none;
  }

  .rooms-overview {
    margin-bottom: 3rem;
  }

  .rooms-grid {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .start-room-button {
    display: block;
    background-color: blue;
    color: white;
    padding: 0.6rem 1.2rem;
    margin: 1rem auto;
  }
}

/* -------- Active room -------- */
.active-room {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 2rem;
  margin: 1rem;
  max-width: var(--max-width);
}

.room-detail {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 1rem;
  background: white;
  padding: 2rem;
}

.room-detail h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.user-counts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 0 1.5rem 0;
}

.user-counts svg {
  width: 1rem;
  height: 1rem;
}

.hosts-grid-detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 3rem;
  box-shadow: 0px 1px 0px #dbdde1;
}

@media screen and (max-width: 900px) {
  .active-room {
    grid-template-columns: 1fr;
  }

  .detail-room-list {
    display: none;
  }

  .room-detail {
    padding: 1rem;
  }

  .hosts-grid-detail {
    gap: 1rem;
  }
}

.hosts-grid-detail p {
  margin-top: 0.75rem;
  font-weight: bold;
  /* font-size: smaller; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.hosts-grid-detail svg {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 0.15rem;
}

.hosts-grid-detail span {
  display: inline-block;
}

.participants-grid-detail {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  min-height: 120px;
  gap: 1rem;
  position: relative;
  background: linear-gradient(#ffffff00, #ffffff99);
  padding-bottom: 2rem;
}

.participants-grid-detail span {
  font-size: smaller;
}

.button-list {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leave-button {
  padding: 0.6rem 1.2rem;
  background: var(--prominent-color-light);
  transition: all ease-in-out 200ms;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.leave-button svg {
  width: 1rem;
  height: 1rem;
}

.leave-button:hover {
  background: var(--prominent-color);
  color: white;
}

.button-list > div {
  display: flex;
  gap: 1rem;
}

.icon-button {
  background: black;
  border-radius: 0.5rem;
  padding: 0rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.25rem;
  color: white;
}

/* -------- Room form -------- */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 4rem;
  width: 100%;
}

form span {
  display: block;
  font-weight: bold;
  font-size: larger;
  text-align: start;
}

form label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form input {
  width: 90%;
  border: 2px solid var(--prominent-color-light);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
}
