#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-screen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.user-list {
  /* background: white; */
  border-radius: 1rem;
  max-width: 300px;
}

.user-list button {
  padding: 0.5rem 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  transition: background 150ms ease-out;
  cursor: pointer;
}

.user-list button:hover {
  background: var(--background-color-light);
}

img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.user-list button:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* --- Home */
.home-user-row {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.home-user-row div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.home-user-row button {
  margin-left: auto;
}

.rooms-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.room-card {
  display: flex;
  flex-direction: column;
}

.room-card > span {
  font-weight: light;
  font-size: 0.8rem;
  font-style: italic;
}

.hosts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-top: 0.25rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--background-color);
}

.hosts-grid div {
  display: flex;
  align-items: center;
}

.hosts-grid img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
