.root {
  @apply bg-video-grey-600 h-auto rounded-container text-video-white border-video-transparent border-2;
  pointer-events: initial;
}

.root.open.fulllHeight {
  @apply h-full;
}

.root.focused {
  @apply border-video-stream-500;
  box-shadow: 0px 0px 30px rgba(0, 95, 255, 0.5);
}

.header {
  @apply flex justify-between items-center p-4;
}

.header.open {
  border-bottom: 1px solid #272a30;
}

.header.canCollapse {
  @apply flex justify-between items-center;
}

.arrow {
  @apply text-video-grey-400  h-[10px] w-[10px];
}

.cross {
  @apply text-video-grey-400  h-[15px] w-[15px];
}

.arrow.open {
  @apply rotate-90;
}

.toggle {
  @apply bg-video-grey-800 flex justify-center items-center rounded-button h-[28px] w-[28px];
}

.close {
  @apply bg-video-grey-800 flex justify-center items-center rounded-button;
  width: 28px;
  height: 28px;
}

.toggle:hover .arrow {
  @apply text-video-white;
}

.heading {
  @apply text-sm 2xl:text-base;
}

.content {
  @apply pl-4 pr-4 pb-4;
}
