.root {
  @apply flex flex-col bg-video-grey-600 h-auto rounded-container text-video-white border-video-transparent border-2;
  pointer-events: initial;
}


.root.expanded {
  flex: 1;
  min-height: 0;
}

.root.focused {
  @apply border-video-stream-500;
  box-shadow: 0 0 30px rgba(0, 95, 255, 0.5);
}

.animated {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s ease-out;
}

.animated.visible {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: all 0.3s ease-in;
}

/* FIXME: use tailwind variable for screen size (or get rid of tailwind) */
@media (max-width: 768px) {
  .animated.expanded.participantsPanel {
    .content.participantsPanel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.header {
  @apply flex justify-between items-center p-4;
}

.header.open {
  border-bottom: 1px solid #272a30;
}

.header.canCollapse {
  @apply items-center;
  cursor: pointer;
}

.arrow {
  @apply text-video-grey-400  h-[10px] w-[10px];
}

.cross {
  @apply text-video-grey-400  h-[15px] w-[15px];
}

.arrow.open {
  @apply rotate-90;
}

.toggle {
  @apply bg-video-grey-800 flex justify-center items-center rounded-button h-[28px] w-[28px];
}

.close {
  @apply bg-video-grey-800 flex justify-center items-center rounded-button;
  width: 28px;
  height: 28px;
}

.toggle:hover .arrow {
  @apply text-video-white;
}

.heading {
  @apply text-sm 2xl:text-base;
}

.content {
  @apply pl-4 pr-4 pb-0;

  visibility: hidden;
  opacity: 0;
  height: 0;
  max-height: calc(100% - 61px);
  overflow: hidden;
  transition: all 0.1s ease-out;
}

.content.open {
  @apply pb-4;

  visibility: visible;
  height: calc(100% - 61px);
  opacity: 1;
  transition: all 0.1s ease-in;
}

.panel-enter {
  z-index: 2;
  opacity: 0;
  display: block;
  height: 100%;
  width: 100%;
}
.panel-enter-active {
  z-index: 2;
  opacity: 1;
  transition: opacity 700ms;
  height: 100%;
  width: 100%;
}
.panel-exit {
  z-index: 2;
  opacity: 1;
}
.panel-exit-active {
  z-index: 2;
  opacity: 0;
  display: none;
  transition: opacity 200ms;
}

.participantsPanel {
  padding-inline: 0;
}
