.root {
  @apply flex p-4;
}

.localNotification {
  @apply fixed w-full p-2 lg:p-0 flex flex-row lg:flex-col justify-between lg:justify-center items-center text-video-white sm:border-2 sm:border-video-stream-500 rounded-container;
  grid-area: localNotification;
}

@media screen(md) {
  .localNotification {
    @apply absolute w-full h-full bg-video-black/40 p-2 lg:p-0 flex flex-row lg:flex-col justify-between lg:justify-center items-center text-video-white sm:border-2 sm:border-video-stream-500 rounded-container;
    grid-area: localNotification;
  }
}

.localNotificationHeading {
  @apply flex lg:flex-col items-center;
}

.screenShareIcon {
  @apply mr-2 lg:mr-0 lg:h-20  lg:w-20 lg:mb-3;
}

.heading {
  @apply text-sm lg:text-xl lg:mb-2;
}

.button {
  @apply p-0 m-0 font-medium text-sm lowercase flex items-center md:pl-2 md:pr-2 lg:mt-2 h-auto;
}

.button > span {
  @apply hidden lg:flex;
}

.closeIcon {
  @apply h-5 w-5 sm:h-7 sm:w-7 lg:mr-2;
}

.localParticipant {
  grid-area: localParticipant;
}

.remoteParticipants {
  @apply flex w-full;
  grid-area: remoteParticipants;
}

.remoteView {
  @apply grid p-4  gap-x-3 w-full;
  height: calc(100vh - 150px);
  grid-template-rows: 1fr 0.25fr;
  grid-template-areas:
    'screenShareContainer'
    'remoteParticipants';
}

@media screen(md) {
  .remoteView {
    height: calc(100vh - 180px);
    grid-template-columns: 1fr 0.25fr;
    grid-template-areas: 'screenShareContainer remoteParticipants';
  }
}

.screenShareContainer {
  @apply relative flex  gap-x-3;

  grid-area: screenShareContainer;
}

@media screen(md) {
  .screenShareContainer {
    height: calc(100vh - 215px);
  }
}

.screenShareContainer video {
  object-fit: contain;
}
