.root {
  @apply flex p-4;
}

.remoteView {
  @apply grid pl-4 pr-4  pb-4 gap-y-3 w-full;
  height: calc(100vh - 150px);
  grid-template-rows: 1fr 0.25fr;
  grid-template-areas:
    'screenShareContainer'
    'remoteParticipants';
}

@media screen(md) {
  .remoteView {
    @apply gap-x-3 p-4;
    height: calc(100vh - 180px);
    grid-template-columns: 1fr 0.25fr;
    grid-template-areas: 'screenShareContainer remoteParticipants';
  }
}

.screenShareContainer {
  @apply flex flex-col justify-between;
}

.screenShare {
  @apply max-h-[300px] md:max-h-none;
  order: 2;
}

.localNotification {
  @apply w-full md:absolute md:h-full p-2 md:p-0 md:bg-video-black/40 flex flex-row md:flex-col justify-between md:justify-center items-center text-video-white md:border-2 md:border-video-stream-500 rounded-container;
  grid-area: localNotification;
  order: 1;
}

.localNotificationHeading {
  @apply flex md:flex-col items-center;
}

.screenShareIcon {
  @apply mr-2 md:mr-0 md:h-20  md:w-20 md:mb-3;
}

.heading {
  @apply text-sm md:text-xl md:mb-2;
}

.button {
  @apply p-0 m-0 font-medium text-sm lowercase flex items-center md:pl-2 md:pr-2 md:mt-2 h-auto;
}

.button > span {
  @apply hidden md:flex;
}

.closeIcon {
  @apply h-5 w-5 sm:h-7 sm:w-7 lg:mr-2;
}

.localParticipant {
  grid-area: localParticipant;
}

.remoteParticipants {
  @apply flex w-full;
  grid-area: remoteParticipants;
}

.screenShareContainer {
  @apply relative flex  gap-x-3;

  grid-area: screenShareContainer;
}

@media screen(md) {
  .screenShareContainer {
    height: calc(100vh - 215px);
  }
}

.screenShareContainer video {
  object-fit: contain;
}
