.spotlight-container {
  height: 100vh;

  .str-video__participant-view {
    max-width: 100%;
  }

  .str-video__video {
    height: 100vh;
  }

  .str-video__video-placeholder {
    height: 100vh;
  }
}
