.root {
  @apply inline-flex items-center justify-center border-2 rounded-button font-body;
}

.container {
  @apply flex flex-col items-center;
}

.label {
  @apply text-white text-xs mt-1;
}

.primary {
  @apply bg-stream text-white shadow-button border-stream;
}

.secondary {
  @apply bg-demo-grey-lighter text-white border-demo-grey-lighter;
}

.danger {
  @apply bg-red text-white border-red;
}

.transparent {
  @apply bg-transparent text-white border-transparent;
}

.active {
  @apply bg-demo-grey-light text-white border-demo-grey-light;
}

.circle {
  @apply rounded-full;
}

.square {
  @apply rounded-input flex items-center;
  width: 42px;
  height: 42px;
  padding: 4px;
}

.rectangle {
  @apply rounded-input flex items-center;
  height: 42px;
  padding: 4px;
}
