.rd__layout-selector__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  gap: var(--str-video__spacing-xs);
  padding: var(--str-video__spacing-lg);
}

.rd__layout-selector__item {
  margin: 0;
}
