.str-video {
  /* Used for elements where sizing is necessary (such as icons, avatar), you can use this variable to scale those elements */
  --str-video__spacing-px: 1px;

  /* Used for margins and paddings */
  --str-video__spacing-0_5: 0.125rem;

  /* Used for margins and paddings */
  --str-video__spacing-1: 0.25rem;

  /* Used for margins and paddings */
  --str-video__spacing-1_5: 0.375rem;

  /* Used for margins and paddings */
  --str-video__spacing-2: 0.5rem;

  /* Used for margins and paddings */
  --str-video__spacing-2_5: 0.625rem;

  /* Used for margins and paddings */
  --str-video__spacing-3: 0.75rem;

  /* Used for margins and paddings */
  --str-video__spacing-3_5: 0.875rem;

  /* Used for margins and paddings */
  --str-video__spacing-4: 1rem; // 16px by default

  /* Used for margins and paddings */
  --str-video__spacing-5: 1.25rem;

  /* Used for margins and paddings */
  --str-video__spacing-6: 1.5rem;

  /* Used for margins and paddings */
  --str-video__spacing-7: 1.75rem;

  /* Used for margins and paddings */
  --str-video__spacing-8: 2rem;

  /* Used for margins and paddings */
  --str-video__spacing-9: 2.25rem;

  /* Used for margins and paddings */
  --str-video__spacing-10: 2.5rem;

  /* Used for margins and paddings */
  --str-video__spacing-11: 2.75rem;

  /* Used for margins and paddings */
  --str-video__spacing-12: 3rem;

  /* Used for margins and paddings */
  --str-video__spacing-14: 3.5rem;

  /* Used for margins and paddings */
  --str-video__spacing-16: 4rem;
}
