.str-video {
  --str-video__blue950: #001333;
  --str-video__blue900: #00163d;
  --str-video__blue800: #002666;
  --str-video__blue700: #003999;
  --str-video__blue600: #004ccc;
  --str-video__blue500: #005fff;
  --str-video__blue400: #337eff;
  --str-video__blue300: #669fff;
  --str-video__blue200: #ccdfff;
  --str-video__blue100: #e0f0ff;
  --str-video__blue50: #ebf5ff;

  --str-video__grey950: #080707;
  --str-video__grey900: #17191c;
  --str-video__grey800: #1c1e22;
  --str-video__grey700: #272a30;
  --str-video__grey600: #4c525c;
  --str-video__grey500: #72767e;
  --str-video__grey400: #b4b7bb;
  --str-video__grey300: #dbdde1;
  --str-video__grey200: #e9eaed;
  --str-video__grey100: #f4f4f5;
  --str-video__grey50: #ffffff;

  --str-video__red900: #330003;
  --str-video__red800: #660006;
  --str-video__red700: #990008;
  --str-video__red600: #cc000b;
  --str-video__red500: #ff000e;
  --str-video__red400: #ff3742;
  --str-video__red300: #ff666e;
  --str-video__red200: #ff999f;
  --str-video__red100: #ffe5e7;

  --str-video__green900: #062d16;
  --str-video__green800: #0d592c;
  --str-video__green700: #138643;
  --str-video__green600: #19b359;
  --str-video__green500: #20e070;
  --str-video__green400: #4ce68c;
  --str-video__green300: #79eca9;
  --str-video__green200: #a6f2c6;
  --str-video__green100: #e9f1ff;

  --str-video__yellow900: #332500;
  --str-video__yellow800: #664900;
  --str-video__yellow700: #996e00;
  --str-video__yellow600: #cc9200;
  --str-video__yellow500: #ffb700;
  --str-video__yellow400: #ffd466;
  --str-video__yellow300: #ffe299;
  --str-video__yellow200: #fff1cc;
  --str-video__yellow100: #fff8e5;
}
