@use 'sass:map';

$breakpoints: (
  xs: 336px,
  sm: 600px,
  md: 1024px,
  lg: 1200px,
  xlg: 1440px,
);

@mixin respond-above($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin ellipsis-text {
  white-space: nowrap;
  overflow-y: visible;
  // Not every browser support clip overflow, so hidden is defined as a fallback
  overflow-x: hidden;
  overflow-x: clip;
  text-overflow: ellipsis;
}

@mixin apply-mask-image($imageDataUrl, $fill, $size: 1rem) {
  -webkit-mask-image: $imageDataUrl;
  mask-image: $imageDataUrl;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: $size;
  mask-size: $size;
  background-color: $fill;
}

@mixin component-layer-overrides($component-name, $important: '') {
  background: var(--str-video__#{$component-name}--background-color)
    #{$important};
  color: var(--str-video__#{$component-name}--color) #{$important};
  box-shadow: var(--str-video__#{$component-name}--box-shadow) #{$important};
  border-radius: var(--str-video__#{$component-name}--border-radius)
    #{$important};
  border-block-start: var(--str-video__#{$component-name}--border-block-start)
    #{$important};
  border-block-end: var(--str-video__#{$component-name}--border-block-end)
    #{$important};
  border-inline-start: var(--str-video__#{$component-name}--border-inline-start)
    #{$important};
  border-inline-end: var(--str-video__#{$component-name}--border-inline-end)
    #{$important};
}

@mixin reset-select {
  // A reset of styles, including removing the default dropdown arrow
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
