.str-video__call {
  --str-video__background-color1: #1c1e22;
  --str-video__background-color2: #272a30;
  --str-video__danger-color1: #ff3742;
  --str-video__danger-color2: #ff000e;
  --str-video__overlay-color: rgba(39, 42, 48, 0.75);
  --str-video__text-color1: #ffffff;
  --str-video__text-color2: #b4b7bb;
  --str-video__border-radius1: 8px;
  --str-video__border-radius2: 12px;
  --str-video__border-radius-circle: 9999px;
}
