.str-video__call-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 0;
  padding: 1rem;

  .str-video__call-controls-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .str-video__call-controls__button {
    border-radius: var(--str-video__border-radius1);
    text-decoration: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 2.25rem;
    width: 2.25rem;

    &:hover {
      background-color: var(--str-video__background-color1);
      text-decoration: none;
    }

    &--variant-danger {
      background-color: var(--str-video__danger-color1);

      &:hover {
        background-color: var(--str-video__danger-color2);
      }
    }

    .str-video__call-controls__button--icon {
      background-color: var(--str-video__text-color1);
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-position: center;
      mask-size: contain;
      -webkit-mask-size: contain;
      width: 100%;
      height: 100%;
      display: block;

      &-recording-on {
        mask-image: var(--str-video__icon--recording-on);
        -webkit-mask-image: var(--str-video__icon--recording-on);
        background-color: var(--str-video__danger-color1);
      }

      &-recording-off {
        mask-image: var(--str-video__icon--recording-off);
        -webkit-mask-image: var(--str-video__icon--recording-off);
      }

      &-screen-share-on {
        mask-image: var(--str-video__icon--screen-share-on);
        -webkit-mask-image: var(--str-video__icon--screen-share-on);
        background-color: var(--str-video__primary-color);
      }

      &-screen-share-off {
        mask-image: var(--str-video__icon--screen-share-off);
        -webkit-mask-image: var(--str-video__icon--screen-share-off);
      }

      &-mic {
        mask-image: var(--str-video__icon--mic);
        -webkit-mask-image: var(--str-video__icon--mic);
      }

      &-mic-off {
        mask-image: var(--str-video__icon--mic-off);
        -webkit-mask-image: var(--str-video__icon--mic-off);
      }

      &-camera {
        mask-image: var(--str-video__icon--camera);
        -webkit-mask-image: var(--str-video__icon--camera);
      }

      &-camera-off {
        mask-image: var(--str-video__icon--camera-off);
        -webkit-mask-image: var(--str-video__icon--camera-off);
      }

      &-call-end {
        mask-image: var(--str-video__icon--call-end);
        -webkit-mask-image: var(--str-video__icon--call-end);
      }

      &-stats {
        mask-image: var(--str-video__icon--info-icon);
        -webkit-mask-image: var(--str-video__icon--info-icon);
      }

      &-participants {
        mask-image: var(--str-video__icon--participants);
        -webkit-mask-image: var(--str-video__icon--participants);
      }
    }
  }

  .str-video__call-controls__button--enabled {
    background-color: var(--str-video__text-color3);
  }
}
