@use './Icons';

.str-video__participant,
.str-video__participant-angular-host {
  width: 100%;
  max-width: 1280px;
  min-height: 0;
  max-height: 100%;
  overflow: hidden;

  .str-call__participant {
    min-height: 0;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .str-video__video-container {
    position: relative;
  }

  .str-video__video-container {
    min-height: 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    .str-video__remote-video {
      border-radius: 12px;
      border: 2px solid transparent;
      background-size: contain;
      width: 100%;
      object-fit: cover;

      &.mirror {
        transform: rotateY(180deg);
      }
    }
  }

  &.str-video__participant--speaking {
    .str-video__remote-video {
      border: 2px solid #005fff;
    }
  }

  .str-video__participant_details {
    position: absolute;
    left: 10px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .str-video__participant_name {
    color: #ffffff;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    align-items: center;

    @mixin icon {
      $icon-size: 15px;
      width: $icon-size;
      height: $icon-size;
      background-size: $icon-size;
      margin: 2px;
    }

    .str-video__participant_name--audio-muted {
      @include icon();
      background-image: Icons.$icon-mic-off;
    }

    .str-video__participant_name--video-muted {
      @include icon();
      background-image: Icons.$icon-camera-off;
    }

    .str-video__participant_name--network-stats {
      @include icon();
      background-image: Icons.$icon-network-quality;
      cursor: pointer;
      margin-right: 10px;
    }
  }

  .str-video__participant__connection-quality {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-left: 5px;

    &--poor {
      background-image: Icons.$icon-connection-quality-poor;
    }
    &--good {
      background-image: Icons.$icon-connection-quality-good;
    }
    &--excellent {
      background-image: Icons.$icon-connection-quality-excellent;
    }
  }

  video {
    min-height: 0;
  }
}
