@use './Icons';

.str-video__call-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 0;

  .str-video__call-controls__button {
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration: none;
    box-shadow: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: #1c1e22;
      text-decoration: none;
    }

    &--variant-danger {
      background-color: #ff3742;

      &:hover {
        background-color: #ff000e;
      }
    }

    &--icon-recording-on {
      background-image: Icons.$icon-recording-on;
    }

    &--icon-recording-off {
      background-image: Icons.$icon-recording-off;
    }

    &--icon-screen-share-on {
      background-image: Icons.$icon-screen-share-on;
    }

    &--icon-screen-share-off {
      background-image: Icons.$icon-screen-share-off;
    }

    &--icon-mic {
      background-image: Icons.$icon-mic;
    }

    &--icon-mic-off {
      background-image: Icons.$icon-mic-off;
    }

    &--icon-camera {
      background-image: Icons.$icon-camera;
    }

    &--icon-camera-off {
      background-image: Icons.$icon-camera-off;
    }

    &--icon-call-end {
      background-image: Icons.$icon-call-end;
    }

    &--icon-stats {
      background-image: Icons.$icon-info-icon;
    }
  }
}
