@use './Icons';

.str-video__device-settings__icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  cursor: pointer;

  background-image: Icons.$icon-settings;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    background-color: var(--str-video__background-color1);
    border-radius: var(--str-video__border-radius1);
  }
}

.str-video__device-settings {
  background-color: var(--str-video__background-color2);
  padding: 0.625rem;
  border-radius: var(--str-video__border-radius1);
  box-shadow: 0 0 4px 1px var(--str-video__background-color2);
  z-index: 10;
}
