.str-video__notification {
  background-color: var(--str-video__background-color1);
  border-radius: var(--str-video__border-radius1);
  padding: 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;

  .str-video__notification__icon {
    mask-image: var(--str-video__icon--info-icon);
    background-color: var(--str-video__text-color1);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
  }

  .str-video__notification__message {
    flex: 1;
    font-size: 0.75rem;
  }
}
