.str-video__call {
  background-color: var(--str-video__background-color2);
  color: var(--str-video__text-color1);
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .str-video__stage {
    flex: 1;
    min-height: 0;
  }

  .str-video__call__header {
    display: flex;
    align-items: center;
    padding: 0 0.325rem;

    .str-video__call__header-title {
      flex: 1;
    }
  }
}

stream-call {
  .ngxp__container {
    opacity: 1;
    z-index: 1;
    padding: 0px;
    border: none;
  }

  .ngxp__container > .ngxp__arrow,
  .ngxp__container > .ngxp__arrow:before {
    width: 0;
    height: 0;
  }
}
