.root {
}

.noMessages {
  @apply flex flex-col items-center  text-center justify-center p-4 w-full h-full bg-video-black md:bg-video-grey-600 pl-10 pr-10;
}

.chatRound {
  @apply h-[50px] w-[50px] xl:h-[80px] xl:w-[80px] text-video-grey-300;
}

.description:first-of-type {
  @apply text-video-white font-bold text-base mt-4;
}

.description {
  @apply text-video-grey-400 mt-2 text-sm;
}

.chat-stand-in {
  @apply flex justify-center items-center flex-col gap-y-4 h-full p-4 text-video-white;
  position: relative;
  background-color: rgb(0 0 0 / 1);
  text-align: center;
}

.chat-stand-in p {
  font-size: 0.75rem;
}
