.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
#.pnp.*

.DS_Store
node_modules
dist
.vercel
.vscode
.idea
.angular
.env
!packages/angular-sdk/docusaurus/.env
!packages/react-sdk/docusaurus/.env

.eslintcache
coverage

# Ignore generated documentation.. it can always be regenerated
packages/react-native-sdk/docusaurus/docs/reactnative/07-i18n/**/*
packages/react-sdk/docusaurus/docs/React/04-call-engine/**/*.md
/**/generated-docs
/**/temp-docs
/**/docusaurus/shared
*.gen.mdx

packages/react-native-sdk/docusaurus/docs/reactnative/assets/02-guides_02-call-lifecycle/**

video-buddy-session.json
lefthook.yml
