.str-video__composite-button--go-live {
  background: var(--str-video__button-primary-active);
  color: white;

  &:hover {
    background: var(--str-video__button-primary-hover);
  }
}

.str-video__composite-button--danger {
  background: var(--str-video__button-default-base, rgba(255, 255, 255, 0.1));
  color: var(--str-video__text-color1, #fff);

  &:hover {
    background: var(
      --str-video__button-default-hover,
      rgba(255, 255, 255, 0.2)
    );
  }

  .str-video__icon {
    color: #dc433b;
  }
}

.str-video__embedded-host-lobby {
  background: var(--str-video__base-color4);
}

.str-video__embedded-viewer-lobby {
  background: var(--str-video__base-color4);

  &__icon {
    color: var(--str-video__text-color2);
  }

  &__title {
    color: var(--str-video__text-color1);
  }

  &__starts-at {
    color: var(--str-video__text-color2);
  }

  &__participant-count {
    color: var(--str-video__text-color2);
  }

  &__auto-join {
    color: var(--str-video__text-color2);

    input[type='checkbox'] {
      accent-color: var(--str-video__button-primary-active);
    }
  }
}

.str-video__embedded-stream-ended {
  background: var(--str-video__base-color4);

  &__content {
    h2 {
      color: var(--str-video__text-color1);
    }

    p {
      color: var(--str-video__text-color2);
    }
  }

  &__icon {
    color: var(--str-video__text-color2);
  }
}
