body,
body > * {
  margin: 0;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
p,
textarea,
input {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--str-video__base-color4);
  color: var(--str-video__text-color1);
}

.str-video {
  background-color: var(--str-video__base-color4);
  color: var(--str-video__text-color1);
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.rd__call {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  overflow-x: hidden;
  background-color: var(--str-video__base-color4);

  .rd__stage {
    flex: 1;
    min-height: 0;
    padding-inline: 0.375rem;
  }

  .rd__main-call-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto hidden;

    .str-video__permission-requests {
      width: 100%;
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.rd__stage-pip {
  padding-block: 1rem;
  min-height: 0;
  flex-grow: 1;
}

button.rd__button.rd__stop-pip {
  margin: auto;
  width: auto;
}

// Connection notification
.rd__connection-notification {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  .str-video__notification {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    margin-top: 0.5rem;
  }
}

// Error screen
.rd__error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  text-align: center;
  color: #dc433b;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  p {
    color: var(--str-video__text-color2, #b4b7bb);
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem 0;

    li {
      background: rgba(220, 67, 59, 0.1);
      border: 1px solid rgba(220, 67, 59, 0.3);
      border-radius: 4px;
      padding: 0.5rem 1rem;
      margin-bottom: 0.5rem;
      color: #dc433b;
    }
  }

  &__hint {
    font-size: 0.875rem;
    color: var(--str-video__text-color2, #72767e);

    code {
      background: var(--str-video__base-color6, #19232d);
      padding: 0.125rem 0.375rem;
      border-radius: 3px;
      font-family: monospace;
    }
  }
}
