@import './styles/chat.css';
@import './styles/animation.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
}

.mapboxgl-popup {
  height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 140px;
  min-width: 160px;
  max-width: 160px;
  left: 55px;
}

.mapboxgl-canvas-container.mapboxgl-interactive {
  cursor: initial;
}

.str-video__participant_details {
  display: none;
}

.mapboxgl-control-container {
  display: none;
}

/* Scrollbar styles */

/* Firefox */
* {
  scrollbar-color: #72767E transparent;
  scrollbar-width: thin;
}

/* WebKit and Chromium */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-video-grey-400;
  border-radius: 5px;
}
