.str-chat {
  --str-chat__primary-color: var(--color-video-grey-600);
  --str-chat__primary-overlay-color: var(--color-video-grey-800);
  --str-chat__primary-color-low-emphasis: var(--str-chat__blue700);
  --str-chat__active-primary-color: var(--str-chat__blue600);
  --str-chat__on-primary-color: var(--str-chat__grey50);
  --str-chat__background-color: var(--color-video-grey-600);
  --str-chat__secondary-background-color: var(--str-chat__grey900);
  --str-chat__primary-surface-color: var(--color-video-grey-700);

  --str-chat__message-input-background-color: var(--color-video-grey-800);
}

.str-chat__channel .str-chat__container {
  @apply bg-video-black md:bg-video-grey-600;
}

.str-chat__list {
  @apply md:max-h-[200px] md:overflow-y-scroll;
}

.str-chat__message-actions-box:not(
    .str-chat__message-actions-box-angular
  ).str-chat__message-actions-box--mine {
  inset-inline-start: -100%;
}

.str-chat__modal--open .str-chat__modal__inner {
  width: 90%;
}

@media screen(md) {
  .str-chat__modal--open .str-chat__modal__inner {
    width: 40%;
  }
}
