.eca__debug-timestamp {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 9999;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family:
    SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 12pt;
  line-height: 1.2;
  pointer-events: none;
  user-select: none;
}
