.eca__logo-and-title-overlay {
    position: absolute;
    display: grid;
    top: 0;
    right: 0;
  
    width: 100%;
    height: 100%;
  
    &__logo {
      position: absolute;
    }
    &__title {
      position: absolute;
    }
  }
  