.str-video__embedded-lobby__title-icon {
  background-color: var(--str-video__accent-primary);
}

.str-video__embedded-lobby__no-permission {
  color: var(--str-video__text-secondary);
}

.str-video__embedded-lobby__device-button {
  color: var(--str-video__input-text-default);

  .str-video__icon {
    background-color: var(--str-video__input-text-icon);
  }

  &--disabled {
    color: var(--str-video__input-text-disabled);
    border-color: var(--str-video__border-utility-disabled);

    .str-video__icon {
      background-color: var(--str-video__input-text-disabled);
    }
  }
}

.str-video__embedded-lobby__participant-label {
  background-color: var(--str-video__background-core-overlay-dark-strong);
  color: var(--str-video__text-on-accent);
  -webkit-backdrop-filter: blur(12.5px);
  backdrop-filter: blur(12.5px);
}
