.str-video__icon {
  background-color: var(--str-video__icon-default);

  &--reactions {
    -webkit-mask-image: var(--str-video__icon--reactions);
    mask-image: var(--str-video__icon--reactions);
  }

  &--call-latency {
    -webkit-mask-image: var(--str-video__icon--call-latency);
    mask-image: var(--str-video__icon--call-latency);
  }

  &--network-quality {
    -webkit-mask-image: var(--str-video__icon--network-quality);
    mask-image: var(--str-video__icon--network-quality);
  }

  &--recording-on {
    -webkit-mask-image: var(--str-video__icon--recording-on);
    mask-image: var(--str-video__icon--recording-on);
  }

  &--caret-up {
    -webkit-mask-image: var(--str-video__icon--caret-up);
    mask-image: var(--str-video__icon--caret-up);
  }

  &--download {
    -webkit-mask-image: var(--str-video__icon--download);
    mask-image: var(--str-video__icon--download);
  }

  &--caret-down {
    -webkit-mask-image: var(--str-video__icon--caret-down);
    mask-image: var(--str-video__icon--caret-down);
    transform: rotate(180deg);
  }

  &--chevron-right {
    -webkit-mask-image: var(--str-video__icon--chevron-right);
    mask-image: var(--str-video__icon--chevron-right);
  }

  &--recording-off {
    -webkit-mask-image: var(--str-video__icon--recording-off);
    mask-image: var(--str-video__icon--recording-off);
  }

  &--loading {
    -webkit-mask-image: var(--str-video__icon--loading);
    mask-image: var(--str-video__icon--loading);

    transform: rotate(360deg);
    transition-duration: 1s;
    transition-delay: now;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &--logout {
    -webkit-mask-image: var(--str-video__icon--logout);
    mask-image: var(--str-video__icon--logout);
  }

  &--chevron-up {
    -webkit-mask-image: var(--str-video__icon--chevron-up);
    mask-image: var(--str-video__icon--chevron-up);
  }

  &--chevron-down {
    -webkit-mask-image: var(--str-video__icon--chevron-down);
    mask-image: var(--str-video__icon--chevron-down);
  }

  &--screen-share-on {
    -webkit-mask-image: var(--str-video__icon--screen-share-on);
    mask-image: var(--str-video__icon--screen-share-on);
  }

  &--screen-share-off {
    -webkit-mask-image: var(--str-video__icon--screen-share-off);
    mask-image: var(--str-video__icon--screen-share-off);
  }

  &--caret-down {
    transform: rotate(180deg);
    -webkit-mask-image: var(--str-video__icon--caret);
    mask-image: var(--str-video__icon--caret);
  }

  &--caret-up {
    -webkit-mask-image: var(--str-video__icon--caret);
    mask-image: var(--str-video__icon--caret);
  }

  &--caret-right {
    transform: rotate(90deg);
    -webkit-mask-image: var(--str-video__icon--caret);
    mask-image: var(--str-video__icon--caret);
  }

  &--caret-left {
    transform: rotate(-90deg);
    -webkit-mask-image: var(--str-video__icon--caret);
    mask-image: var(--str-video__icon--caret);
  }

  &--close {
    -webkit-mask-image: var(--str-video__icon--close);
    mask-image: var(--str-video__icon--close);
  }

  &--mic {
    -webkit-mask-image: var(--str-video__icon--mic);
    mask-image: var(--str-video__icon--mic);
  }

  &--mic-off {
    -webkit-mask-image: var(--str-video__icon--mic-off);
    mask-image: var(--str-video__icon--mic-off);
  }

  &--camera {
    -webkit-mask-image: var(--str-video__icon--camera);
    mask-image: var(--str-video__icon--camera);
  }

  &--camera-off {
    -webkit-mask-image: var(--str-video__icon--camera-off);
    mask-image: var(--str-video__icon--camera-off);
  }

  &--camera-off-outline {
    -webkit-mask-image: var(--str-video__icon--camera-off-outline);
    mask-image: var(--str-video__icon--camera-off-outline);
  }

  &--call-end {
    -webkit-mask-image: var(--str-video__icon--call-end);
    mask-image: var(--str-video__icon--call-end);
  }

  &--call-accept {
    -webkit-mask-image: var(--str-video__icon--call-accept);
    mask-image: var(--str-video__icon--call-accept);
  }

  &--info {
    -webkit-mask-image: var(--str-video__icon--info-icon);
    mask-image: var(--str-video__icon--info-icon);
  }

  &--stats {
    -webkit-mask-image: var(--str-video__icon--stats);
    mask-image: var(--str-video__icon--stats);
  }

  &--speaker {
    -webkit-mask-image: var(--str-video__icon--speaker);
    mask-image: var(--str-video__icon--speaker);
  }

  &--ellipsis {
    -webkit-mask-image: var(--str-video__icon--ellipsis);
    mask-image: var(--str-video__icon--ellipsis);
  }

  &--pin {
    -webkit-mask-image: var(--str-video__icon--pin);
    mask-image: var(--str-video__icon--pin);
  }

  &--no-audio {
    -webkit-mask-image: var(--str-video__icon--no-audio);
    mask-image: var(--str-video__icon--no-audio);
  }

  &--not-allowed {
    -webkit-mask-image: var(--str-video__icon--not-allowed);
    mask-image: var(--str-video__icon--not-allowed);
  }

  &--film-roll {
    -webkit-mask-image: var(--str-video__icon--film-roll);
    mask-image: var(--str-video__icon--film-roll);
  }

  &--device-settings {
    -webkit-mask-image: var(--str-video__icon--settings);
    mask-image: var(--str-video__icon--settings);
  }

  &--filter {
    -webkit-mask-image: var(--str-video__icon--filter);
    mask-image: var(--str-video__icon--filter);
  }

  &--refresh {
    -webkit-mask-image: var(--str-video__icon--refresh);
    mask-image: var(--str-video__icon--refresh);
  }

  &--kick-user {
    -webkit-mask-image: var(--str-video__icon--kick-user);
    mask-image: var(--str-video__icon--kick-user);
  }
}
