.str-video__icon {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  display: block;
  flex-shrink: 0;
  inline-size: var(--str-video__icon-size-sm);
  block-size: var(--str-video__icon-size-sm);
}
