.rd__link {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  width: 100%;
  font-size: var(--str-video__font-size-md);
  font-weight: 500;

  &--faux-button {
    border-radius: var(--str-video__border-radius-md);
    padding: var(--str-video__spacing-xs) var(--str-video__spacing-lg);

    border: 1px solid var(--str-video__base-color3);
    color: var(--str-video__text-color1);

    background-color: var(--str-video__button-primary-base);

    text-decoration: none;

    &:hover {
      background-color: var(--str-video__button-primary-hover);
      cursor: pointer;
      text-decoration: none;
    }

    &--primary {
      background-color: var(--str-video__brand-color1);
    }
  }

  &__icon {
    margin-right: var(--str-video__spacing-xs);
    height: 16px;
    color: var(--str-video__text-color1);
  }

  &:disabled {
    background-color: var(--str-video__button-primary-disabled);
    cursor: not-allowed;
  }
}
