.rd__link {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  width: 100%;
  font-size: var(--str-video__typography-font-size-md);
  font-weight: 500;

  &--align-left {
    text-align: left;
    justify-content: flex-start;
  }

  &--faux-button {
    border-radius: var(--str-video__radius-2xl);
    padding: var(--str-video__space-6) var(--str-video__spacing-md);

    color: var(--str-video__text-primary);

    background-color: var(--str-video__background-core-surface-subtle);

    text-decoration: none;
    font-size: var(--str-video__typography-font-size-sm);

    &:hover {
      background-image: linear-gradient(
        var(--str-video__background-utility-hover),
        var(--str-video__background-utility-hover)
      );
      cursor: pointer;
      text-decoration: none;
    }
  }

  &--primary {
    background-color: var(--str-video__accent-primary);
    color: var(--str-video__button-primary-text-on-accent);

    &:hover {
      background-image: linear-gradient(
        var(--str-video__background-utility-hover),
        var(--str-video__background-utility-hover)
      );
    }
  }

  &--large {
    font-size: var(--str-video__typography-font-size-md);
    padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);
    border-radius: var(--str-video__radius-2xl);
  }

  &__icon {
    margin-right: var(--str-video__space-6);
    height: 16px;
    background-color: currentColor;
  }

  &:disabled {
    background-color: var(--str-video__background-utility-disabled);
    cursor: not-allowed;
  }
}
