.str-video__reaction {
  position: absolute;
  right: 0.875rem;
  bottom: 0.875rem;
  opacity: 0;
  transition: opacity 0.2s ease-out;

  &.str-video__reaction--visible {
    opacity: 1;
  }

  .str-video__reaction__emoji {
    display: flex;
    line-height: 1;
    font-size: 2.5rem;
  }
}
