.str-video__reaction {
  position: absolute;
  right: var(--str-video__size-14);
  top: var(--str-video__size-14);

  .str-video__reaction__emoji {
    display: flex;
    line-height: 1;
    font-size: var(--str-video__font-size-size-40);
  }
}
