@use '../../utils';

.str-video__embedded-call-duration {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--str-video__text-color2, #9ca3af);
  white-space: nowrap;

  &__icon {
    width: 16px;
    height: 16px;
    background-color: var(--str-video__alert-success);
  }

  &__time {
    font-size: 0.875rem;
    font-weight: 500;
    font-variant-numeric: tabular-nums;
  }
}

.str-video__embedded-call-controls.str-video__call-controls {
  justify-content: flex-start;
  padding: var(--str-video__spacing-lg);
  gap: 0.25rem;

  .str-video__call-controls--group {
    flex: 1;
    display: flex;
    gap: 0.25rem;
    align-items: center;

    &.str-video__call-controls--options {
      .str-video__call-controls__mobile {
        display: flex;
      }
      .str-video__call-controls__desktop {
        display: none;
      }
    }

    &.str-video__call-controls--media {
      justify-content: center;
      margin-left: 0;
      .str-video__call-controls__mobile {
        display: flex;
      }
      .str-video__call-controls__desktop {
        display: none;
      }
    }

    &.str-video__call-controls--sidebar {
      width: 100%;
      justify-content: flex-end;

      .str-video__call-controls__desktop {
        display: none;
      }
    }
  }
}

@include utils.respond-above(sm) {
  .str-video__embedded-call-controls.str-video__call-controls {
    justify-content: space-between;
    background-color: var(--str-video__base-color7);
    gap: 0.5rem;
    border-radius: var(--str-video__border-radius-xxl);

    .str-video__call-controls--group {
      gap: 0.5rem;

      &.str-video__call-controls--options {
        .str-video__call-controls__desktop {
          display: flex;
        }
        .str-video__call-controls__mobile {
          display: none;
        }
      }
      &.str-video__call-controls--media {
        .str-video__call-controls__desktop {
          display: flex;
        }
        .str-video__call-controls__mobile {
          display: none;
        }
      }

      &.str-video__call-controls--sidebar {
        width: unset;
        justify-content: flex-end;

        .str-video__call-controls__desktop {
          display: flex;
        }
      }
    }
  }
}
