:root {
  --str-video__icon--login: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNCAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjMgNy44MDA1OUM5LjkxIDguMTkwNTkgOS45MSA4LjgxMDU5IDEwLjMgOS4yMDA1OUwxMi4yIDExLjEwMDZIM0MyLjQ1IDExLjEwMDYgMiAxMS41NTA2IDIgMTIuMTAwNkMyIDEyLjY1MDYgMi40NSAxMy4xMDA2IDMgMTMuMTAwNkgxMi4yTDEwLjMgMTUuMDAwNkM5LjkxIDE1LjM5MDYgOS45MSAxNi4wMTA2IDEwLjMgMTYuNDAwNkMxMC42OSAxNi43OTA2IDExLjMxIDE2Ljc5MDYgMTEuNyAxNi40MDA2TDE1LjI5IDEyLjgxMDZDMTUuNjggMTIuNDIwNiAxNS42OCAxMS43OTA2IDE1LjI5IDExLjQwMDZMMTEuNyA3LjgwMDU5QzExLjMxIDcuNDEwNTkgMTAuNjkgNy40MTA1OSAxMC4zIDcuODAwNTlaTTIwIDE5LjEwMDZIMTNDMTIuNDUgMTkuMTAwNiAxMiAxOS41NTA2IDEyIDIwLjEwMDZDMTIgMjAuNjUwNiAxMi40NSAyMS4xMDA2IDEzIDIxLjEwMDZIMjBDMjEuMSAyMS4xMDA2IDIyIDIwLjIwMDYgMjIgMTkuMTAwNlY1LjEwMDU5QzIyIDQuMDAwNTkgMjEuMSAzLjEwMDU5IDIwIDMuMTAwNTlIMTNDMTIuNDUgMy4xMDA1OSAxMiAzLjU1MDU5IDEyIDQuMTAwNTlDMTIgNC42NTA1OSAxMi40NSA1LjEwMDU5IDEzIDUuMTAwNTlIMjBWMTkuMTAwNloiIGZpbGw9IiNFM0U0RTUiLz4KPC9zdmc+Cg==');
  --str-video__icon--star: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjQjBCNEI3IiBzdHJva2Utd2lkdGg9IjEuNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgMmwzLjA5IDYuMjZMMjIgOS4yN2wtNSA0Ljg3IDEuMTggNi44OEwxMiAxNy43N2wtNi4xOCAzLjI1TDcgMTQuMTQgMiA5LjI3bDYuOTEtMS4wMUwxMiAyeiIvPjwvc3ZnPg==');
}

.str-video__icon--eye {
  -webkit-mask-image: var(--str-video__icon--eye);
  mask-image: var(--str-video__icon--eye);
}

.str-video__icon--login {
  -webkit-mask-image: var(--str-video__icon--login);
  mask-image: var(--str-video__icon--login);
}

.str-video__icon--participants {
  -webkit-mask-image: var(--str-video__icon--participants);
  mask-image: var(--str-video__icon--participants);
}

.str-video__icon--verified {
  -webkit-mask-image: var(--str-video__icon--verified);
  mask-image: var(--str-video__icon--verified);
}

.str-video__icon--blur-icon {
  -webkit-mask-image: var(--str-video__icon--blur-icon);
  mask-image: var(--str-video__icon--blur-icon);
}

.str-video__icon--streaming {
  -webkit-mask-image: var(--str-video__icon--streaming);
  mask-image: var(--str-video__icon--streaming);
}

.str-video__icon--checkmark {
  -webkit-mask-image: var(--str-video__icon--checkmark);
  mask-image: var(--str-video__icon--checkmark);
}

.str-video__icon--star {
  -webkit-mask-image: var(--str-video__icon--star);
  mask-image: var(--str-video__icon--star);
}

.str-video__icon--star-filled {
  -webkit-mask-image: var(--str-video__icon--star-filled);
  mask-image: var(--str-video__icon--star-filled);
}

.str-video__icon--feedback {
  -webkit-mask-image: var(--str-video__icon--feedback);
  mask-image: var(--str-video__icon--feedback);
}
