.root {
  @apply flex items-start;
}

.cameraSettings,
.audioSettings {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.cameraSettings {
  width: 300px;
  transform: translateX(20%);
}

.portal:empty {
  @apply hidden;
}

.portal {
  @apply absolute;
  min-width: 300px;
  left: -50%;
  width: 100%;
}

.videoButton,
.audioButton,
.speakerButton {
  @apply ml-2 mr-2;
}

.panel {
  @apply relative;
}

.deviceList {
}

.device {
  @apply p-1 pr-2 pl-2;
}

.selectedDevice {
  @apply bg-video-grey-700;
}

.label {
  @apply text-video-white;
}

.radioButton {
  @apply mr-2;
}

.panel .footer {
  @apply flex items-center justify-center text-video-white text-xs;
}
