@use '../../variables';
@use '@angular/material' as mat;
@use 'sass:map';

h2 {
  text-align: center;
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  cursor: pointer;
  width: 40%;
  margin: 4px auto;

  &:hover {
    .username {
      font-weight: 600;
    }
  }
}
