.str-video__embedded-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .str-video__loading-indicator__icon.spinner {
    width: 64px;
    height: 64px;
    -webkit-mask-size: 64px;
    mask-size: 64px;
  }
}
