.str-video__embedded-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .str-video__loading-indicator__icon.spinner {
    width: 4rem;
    height: 4rem;
    mask-size: 4rem;
  }
}
