.rd__more-menu {
  display: flex;
  list-style: none;
  padding-block: var(--str-video__spacing-md);
  padding-inline: 0;
  flex-direction: column;
  margin: 0;

  max-width: calc(100vw - var(--str-video__spacing-md) * 2);
}

.rd__more-menu__item {
  padding-inline: var(--str-video__spacing-md);

  .str-video__reactions-menu {
    padding: 0;
  }

  &:not(&--list) {
    margin-bottom: var(--str-video__spacing-md);
  }

  &--list {
    padding-inline: var(--str-video__spacing-xxs);

    .rd__more-button {
      justify-content: flex-start;
      gap: var(--str-video__spacing-sm);
      min-height: 40px;
      padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);
      border: 0;
      border-radius: var(--str-video__radius-md);

      .rd__button__icon {
        margin-right: 0;
      }
    }
  }
}
