.str-video__embedded-blur-toggle-container {
  padding: var(--str-video__spacing-xs);
}

.str-video__embedded-blur-toggle {
  --str-video__button-secondary-border: var(
    --str-video__border-core-on-elevation
  );
  --str-video__button-border-disabled: var(
    --str-video__border-utility-disabled-on-surface
  );

  inline-size: 100%;
}
