button.rd__button,
.rd__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--str-video__border-radius-md);
  padding: var(--str-video__spacing-sm) var(--str-video__spacing-lg);
  text-align: center;
  width: 100%;
  font-size: var(--str-video__font-size-md);
  font-weight: 500;
  border: 1px solid var(--str-video__base-color3);
  color: var(--str-video__text-color1);

  background-color: var(--str-video__button-primary-base);
  &:hover {
    background-color: var(--str-video__button-primary-hover);
    cursor: pointer;
  }

  &__icon {
    margin-right: var(--str-video__spacing-xs);
    height: 16px;
    background-color: var(--str-video__text-color1);
  }

  &:disabled {
    background-color: var(--str-video__button-primary-disabled);
    cursor: not-allowed;
  }

  &--primary {
    background-color: var(--str-video__brand-color1);

    &:hover {
      background-color: var(--str-video__button-primary-hover);
      cursor: pointer;
    }

    &:disabled {
      background-color: var(--str-video__brand-color1);
      cursor: not-allowed;
    }

    .rd__button__icon {
      background-color: white;
    }
  }

  &--secondary {
    background-color: transparent;
    border: 1px solid var(--str-video__base-color3);

    &:disabled {
      background-color: transparent;
      border: 1px solid var(--str-video__base-color3);
      cursor: not-allowed;
    }
  }
}

a.rd__button {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
