button.rd__button,
.rd__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--str-video__radius-2xl);
  padding: calc(var(--str-video__space-6) - 1px) var(--str-video__spacing-md);
  text-align: center;
  width: 100%;
  font-size: var(--str-video__typography-font-size-sm);
  line-height: var(--str-video__spacing-md);
  font-weight: 500;
  border: 1px solid transparent;
  color: var(--str-video__text-primary);
  background: none;

  &:hover {
    background-image: linear-gradient(
      var(--str-video__background-utility-hover),
      var(--str-video__background-utility-hover)
    );
    cursor: pointer;
  }

  &__icon {
    margin-right: var(--str-video__space-6);
    background-color: currentColor;
  }

  &:disabled {
    background-color: var(--str-video__background-utility-disabled);
    color: var(--str-video__text-disabled);
    cursor: not-allowed;
  }

  &--align-left {
    text-align: left;
    justify-content: flex-start;
  }

  &--primary {
    background-color: var(--str-video__accent-primary);
    color: var(--str-video__button-primary-text-on-accent);

    &:hover {
      background-image: linear-gradient(
        var(--str-video__background-utility-hover),
        var(--str-video__background-utility-hover)
      );
      cursor: pointer;
    }

    &:disabled {
      background-color: var(--str-video__background-utility-disabled);
      cursor: not-allowed;
    }
  }

  &--large {
    font-size: var(--str-video__typography-font-size-md);
    padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);
    border-radius: var(--str-video__radius-2xl);
  }

  &--secondary {
    background-color: transparent;
    border-color: var(--str-video__border-core-default);

    &:disabled {
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}

a.rd__button {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
