.rd__input,
.rd__textarea {
  min-block-size: 40px;
  padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);
  border: var(--str-video__w100) solid var(--str-video__border-core-default);
  border-radius: var(--str-video__input-radius-text-input);
  background-color: transparent;
  color: var(--str-video__input-text-default);
  font-size: var(--str-video__typography-font-size-sm);
  line-height: var(--str-video__typography-line-height-normal);
  font-weight: var(--str-video__typography-font-weight-regular);
  width: 100%;

  &::placeholder {
    color: var(--str-video__input-text-placeholder);
  }

  &:focus,
  &:focus-visible {
    outline: var(--str-video__w200) solid
      var(--str-video__border-utility-focused);
    outline-offset: calc(var(--str-video__w100) * -1);
  }
}
