.rd__input--underlined {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff !important;
}

.rd__call-recording-search-input {
  font-size: 1.125rem;
  text-align: center;
}

.rd__input::placeholder {
  color: currentColor;
}
