.root {
  @apply grid relative bg-demo-black-light;
  padding: 10px;
  grid-template-columns: 2fr 0.5fr;
  grid-column-gap: 10px;

  height: 100vh;
  width: 100vw;

  grid-template-areas:
    'layoutContainer sidebar'
    'layoutContainer sidebar'
    'layoutContainer sidebar';
}

.layoutContainer {
  grid-area: layoutContainer;
  @apply rounded-container bg-demo-grey-lighter;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    'header'
    'body'
    'footer';
}

.sidebar {
  grid-area: sidebar;
  @apply rounded-container;
}

.header {
  @apply pl-4 pr-4 text-base;
  grid-area: header;
}

.body {
  grid-area: body;
  height: calc(100vh - 12.5rem);
}

.footer {
  @apply flex h-20 p-4;
  grid-area: footer;
}
