.root {
  @apply flex items-center justify-center h-full;
}

@media screen(sm) {
  .root {
    @apply max-w-[80%];
  }
}

.meetingGrid {
  @apply grid p-4  gap-y-3 gap-x-3;
}

.meetingGrid.slider {
  @apply grid pl-4 pr-4 pt-0 pb-0 sm:p-4  gap-y-3  w-full;
  height: calc(100vh - 180px);
  grid-template-rows: 1fr 0.25fr;
  grid-template-areas:
    'localParticipant'
    'participantSlider';
}

.meetingGrid.slider.localParticipant {
  grid-area: localParticipant;
  @apply flex justify-center items-center;
}

.participantSlider {
  grid-area: participantSlider;
  @apply flex;
}

.meetingGrid-1 {
  @apply flex items-center justify-center h-full;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.meetingGrid-1 .localParticipant,
.meetingGrid-1 .remoteParticipant {
  @apply w-auto max-h-[300px];
}

.meetingGrid-2 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

@media screen(sm) {
  .meetingGrid-2 {
    @apply h-auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.meetingGrid-3 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media screen(sm) {
  .meetingGrid-3 {
    @apply h-auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.meetingGrid-4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.meetingGrid-5 {
  @apply h-auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.meetingGrid-6 {
  @apply h-auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.meetingGrid-7 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.meetingGrid-8 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.meetingGrid-9 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
