.root {
  @apply flex items-center justify-center h-full;
}

.root.slider {
  @apply w-full;
}

@media screen(sm) {
  .root {
    @apply max-w-[80%] min-w-[80%];
  }

  .root.slider {
    @apply max-w-none;
  }
}

.meetingGrid {
  @apply grid p-4  gap-y-3 gap-x-3 min-w-[100%];
}

.meetingGrid.slider {
  @apply grid pl-4 pr-4 pt-0 pb-0 sm:p-4  gap-y-3  w-full;
  height: calc(100dvh - 180px);
  grid-template-rows: 1fr 0.25fr;
  grid-template-areas:
    'localParticipant'
    'participantSlider';
}

@media screen(2xl) {
  .meetingGrid.slider {
    @apply grid pl-4 pr-4 pt-0 pb-0 sm:p-4  gap-y-3  w-full;
    height: calc(100dvh - 200px);
    grid-template-rows: 1fr 0.25fr;
    grid-template-areas:
      'localParticipant'
      'participantSlider';
  }
}

.meetingGrid.slider .localParticipant {
  grid-area: localParticipant;
  @apply flex justify-center items-center w-full md:max-w-[80%] ml-auto mr-auto;
}

.participantSlider {
  grid-area: participantSlider;
  @apply flex;
}

/* participant boxes */
.meetingGrid .localParticipant {
  @apply w-full;
  aspect-ratio: auto;
}

.meetingGrid .localParticipant,
.meetingGrid .remoteParticipant {
  border-radius: 12px;
  overflow: hidden;
}

.meetingGrid .localParticipant:hover,
.meetingGrid .remoteParticipant:hover {
  cursor: pointer;
}

.meetingGrid .localParticipant.videoDisabled,
.meetingGrid .remoteParticipant.videoDisabled {
  @apply: bg-video-grey-700;
}

/* end participant boxes */

/* one participant */
.meetingGrid-1 {
  @apply flex items-center justify-center h-full;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.meetingGrid-1 .localParticipant.videoDisabled,
.meetingGrid-1 .remoteParticipant.videoDisabled {
  @apply h-full max-h-[192px] w-auto;
}

@media screen(sm) {
  .meetingGrid-1 .localParticipant,
  .meetingGrid-1 .remoteParticipant {
    @apply h-full max-h-[225px]  w-auto;
  }

  .meetingGrid-1 .localParticipant.videoDisabled,
  .meetingGrid-1 .remoteParticipant.videoDisabled {
    @apply h-full max-h-[225px] w-auto;
    aspect-ratio: 16/9;
  }
}

@media screen(md) {
  .meetingGrid-1 .localParticipant,
  .meetingGrid-1 .remoteParticipant {
    @apply h-full max-h-[300px] w-auto;
    aspect-ratio: 16/9;
  }

  .meetingGrid-1 .localParticipant.videoDisabled,
  .meetingGrid-1 .remoteParticipant.videoDisabled {
    @apply h-full max-h-[300px] w-auto;
    aspect-ratio: 16/9;
  }
}

@media screen(lg) {
  .meetingGrid-1 .localParticipant,
  .meetingGrid-1 .remoteParticipant {
    @apply h-full max-h-[330px] w-auto;
    aspect-ratio: 16/9;
  }

  .meetingGrid-1 .localParticipant.videoDisabled,
  .meetingGrid-1 .remoteParticipant.videoDisabled {
    @apply h-full max-h-[330px] w-auto;
    aspect-ratio: 16/9;
  }
}

@media screen(2xl) {
  .meetingGrid-1 .localParticipant,
  .meetingGrid-1 .remoteParticipant {
    @apply h-full max-h-[660px] w-auto;
    aspect-ratio: 16/9;
  }

  .meetingGrid-1 .localParticipant.videoDisabled,
  .meetingGrid-1 .remoteParticipant.videoDisabled {
    @apply h-full max-h-[660px] w-auto;
    aspect-ratio: 16/9;
  }
}

/* end one participant */

/* two participants */

.meetingGrid-2 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.meetingGrid-2 .remoteParticipant,
.meetingGrid-2 .localParticipant {
  @apply w-full max-h-[225px] h-full;
  aspect-ratio: 16/9;
}

.meetingGrid-2 .localParticipant.videoDisabled,
.meetingGrid-2 .remoteParticipant.videoDisabled {
  @apply w-full;
}

@media screen(sm) {
  .meetingGrid-2 {
    @apply h-auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media screen(2xl) {
  .meetingGrid-2 .localParticipant,
  .meetingGrid-2 .remoteParticipant {
    @apply h-full max-h-[500px] w-auto;
    aspect-ratio: 16/9;
  }

  .meetingGrid-2 .localParticipant.videoDisabled,
  .meetingGrid-2 .remoteParticipant.videoDisabled {
    @apply h-full max-h-[500px] w-auto;
    aspect-ratio: 16/9;
  }
}

/* end two participants */

/* three participants */
.meetingGrid-3 {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.meetingGrid-3 .remoteParticipant,
.meetingGrid-3 .localParticipant {
  @apply w-full max-h-[150px];
  aspect-ratio: 16/9;
}

.meetingGrid-3 .localParticipant.videoDisabled,
.meetingGrid-3 .remoteParticipant.videoDisabled {
  @apply w-full;
}

@media screen(sm) {
  .meetingGrid-3 {
    @apply h-auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen(md) {
  .meetingGrid-3 .localParticipant,
  .meetingGrid-3 .remoteParticipant {
    @apply h-auto max-h-none w-auto;
    aspect-ratio: 16/9;
  }

  .meetingGrid-3 .localParticipant.videoDisabled,
  .meetingGrid-3 .remoteParticipant.videoDisabled {
    @apply w-full;
  }
}

@media screen(2xl) {
  .meetingGrid-3 .localParticipant,
  .meetingGrid-3 .remoteParticipant {
    @apply h-full max-h-[450px] w-auto;
    aspect-ratio: 16/9;
  }

  .meetingGrid-3 .localParticipant.videoDisabled,
  .meetingGrid-3 .remoteParticipant.videoDisabled {
    @apply h-full max-h-[450px] w-auto;
    aspect-ratio: 16/9;
  }
}

/* end three participants */

/* four participants */

.meetingGrid-4 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.meetingGrid-4 .localParticipant.videoDisabled,
.meetingGrid-4 .remoteParticipant.videoDisabled {
  @apply w-full;
}

@media screen(md) {
  .meetingGrid-4 .localParticipant,
  .meetingGrid-4 .remoteParticipant {
    @apply h-auto max-h-none w-auto;
    aspect-ratio: 16/9;
  }

  .meetingGrid-4 .localParticipant.videoDisabled,
  .meetingGrid-4 .remoteParticipant.videoDisabled {
    @apply w-full;
  }
}

/* end four participants */

.meetingGrid-5 {
  @apply h-auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.meetingGrid-5 .localParticipant.videoDisabled,
.meetingGrid-5 .remoteParticipant.videoDisabled {
  @apply w-full;
}

@media screen(md) {
  .meetingGrid-5 .localParticipant,
  .meetingGrid-5 .remoteParticipant {
    @apply h-auto max-h-none w-auto;
    aspect-ratio: 16/9;
  }
}

/* end five participants */

/* six participants */
.meetingGrid-6 {
  @apply h-auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.meetingGrid-6 .localParticipant.videoDisabled,
.meetingGrid-6 .remoteParticipant.videoDisabled {
  @apply w-full;
}

@media screen(md) {
  .meetingGrid-6 .localParticipant,
  .meetingGrid-6 .remoteParticipant {
    @apply h-auto max-h-none w-auto;
    aspect-ratio: 16/9;
  }
}

/* end six participants */

/* seven participants */

.meetingGrid-7 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.meetingGrid-7 .localParticipant.videoDisabled,
.meetingGrid-7 .remoteParticipant.videoDisabled {
  @apply w-full;
}

@media screen(md) {
  .meetingGrid-7 .localParticipant,
  .meetingGrid-7 .remoteParticipant {
    @apply h-auto max-h-none w-auto;
    aspect-ratio: 16/9;
  }
}

/* end seven participants */

/* eight participants */
.meetingGrid-8 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.meetingGrid-8 .localParticipant.videoDisabled,
.meetingGrid-8 .remoteParticipant.videoDisabled {
  @apply w-full;
}

@media screen(md) {
  .meetingGrid-8 .localParticipant,
  .meetingGrid-8 .remoteParticipant {
    @apply h-auto max-h-none w-auto;
    aspect-ratio: 16/9;
  }
}
/* end eight participants */

/* nine participants */
.meetingGrid-9 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.meetingGrid-9 .localParticipant.videoDisabled,
.meetingGrid-9 .remoteParticipant.videoDisabled {
  @apply min-h-[155px] w-full;
}

@media screen(md) {
  .meetingGrid-9 .localParticipant,
  .meetingGrid-9 .remoteParticipant {
    @apply h-auto max-h-none w-auto;
    aspect-ratio: 16/9;
  }
}

/* end nine participants */
