.search {
  @apply sm:flex bg-video-grey-500 flex items-center justify-center text-video-white/50 mt-4;
  border: 1px solid #272a30;
  border-radius: 44px;
  height: 35px;
  margin-inline: 0.5rem;
}

.amount {
  @apply text-video-grey-400;
}

.input {
  @apply bg-video-transparent border-none text-sm z-10 h-full;
  padding: 1rem 0 1rem 1rem;
  flex: 1;
  outline: none;
}

.input:focus,
.input:hover {
  @apply bg-video-transparent relative border-none;
}

.searchIcon {
  margin-inline: 8px;
}

.participants {
  @apply overflow-hidden mb-4 mt-2;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
}

.participant {
  @apply flex items-center justify-between px-3 py-1.5;
  padding-block: 0.375rem;
  padding-inline: 1.125rem 0.75rem;
  font-size: 0.75rem;
}

.participant:hover {
  @apply bg-video-grey-700 text-video-white;
  border-radius: 6px;
}

.name {
  @apply block items-center min-w-[140px] max-w-[140px];
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.media {
  @apply flex items-center;
}

.video,
.mic,
.block,
.options {
  @apply text-video-white;
  width: 15px;
}

.mic,
.micMuted {
  @apply mr-2;
}

.video,
.videoOff {
  @apply mr-1;
}

.videoOff,
.micMuted {
  @apply text-video-red-400;
  width: 15px;
}

.video:hover,
.mic:hover,
.block:hover,
.videoOff:hover,
.micMuted:hover .options:hover {
  @apply cursor-pointer;
}

.options {
  @apply ml-3;
}

.options:hover {
  @apply cursor-pointer;
}

.invite {
  @apply flex flex-col md:hidden;
}
