.str-video__call-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;

  .str-video__reactions-menu {
    background-color: var(--str-video__base-color7);
    display: flex;

    padding: 15px;
    gap: 0.5rem;

    border-radius: var(--str-video__border-radius-lg);

    &--horizontal {
      flex-direction: row;
    }

    &--vertical {
      flex-direction: column;
    }

    .str-video__reactions-menu__button {
      font-size: 1.2rem;
      height: 38px;
      width: 38px;
      background-color: var(--str-video__button-primary-base);
      border-radius: var(--str-video__border-radius-circle);
      border: 1px solid transparent;

      &:hover {
        background-color: var(--str-video__button-primary-hover);
      }
    }
  }
}
