.str-video__call-controls {
  display: flex;
  justify-content: center;
  gap: var(--str-video__spacing-md);
  padding: var(--str-video__spacing-md) var(--str-video__spacing-none);

  .str-video__reactions-menu {
    display: flex;
    align-items: center;

    padding: var(--str-video__spacing-sm) var(--str-video__spacing-md)
      var(--str-video__spacing-md);
    gap: var(--str-video__spacing-xxxs);

    &--horizontal {
      flex-direction: row;
    }

    &--vertical {
      flex-direction: column;
    }

    .str-video__reactions-menu__button {
      font-family: system-ui;
      font-size: var(--str-video__emoji-md);
      line-height: 1;
      padding: 0;
      height: var(--str-video__button-visual-height-md);
      width: var(--str-video__button-visual-height-md);
      color: var(--str-video__text-primary);
      background-color: transparent;
      border: none;
      border-radius: var(--str-video__radius-max);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover:not(:disabled) {
        background-color: var(--str-video__background-utility-hover);
        cursor: pointer;
      }

      &:active:not(:disabled) {
        background-color: var(--str-video__background-utility-pressed);
      }
    }
  }
}
