.str-video__end-call {
  &__confirmation {
    background-color: var(--str-video__base-color7);

    border-radius: var(--str-video__border-radius-xl);

    padding: var(--str-video__spacing-sm);
    gap: var(--str-video__spacing-md);

    display: flex;
    flex-direction: column;
  }

  &__leave,
  &__end {
    min-width: 211px;
    color: var(--str-video__text-color1);

    &-icon {
      background-color: var(--str-video__text-color1);
    }
  }

  &__leave {
    background-color: var(--str-video__button-primary-base);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--str-video__button-primary-hover);
    }
  }

  &__end {
    background-color: var(--str-video__button-tertiary-base);

    &:hover {
      background-color: var(--str-video__button-tertiary-hover);
    }
  }
}

.str-video__end-call.str-video__end-call__leave-icon,
.str-video__icon.str-video__end-call__end-icon {
  background-color: var(--str-video__text-color1);
}
