.str-video__generic-menu {
  background: var(--str-video__background-color2);

  .str-video__generic-menu--item {
    button:hover {
      background: var(--str-video__background-color1);
    }

    button[disabled] {
      background-color: var(--str-video__background-color5);
      color: var(--str-video__text-color2);
      cursor: not-allowed;
    }
  }
}
