SKIP_PREFLIGHT_CHECK=true

# The Stream API key, you can find this in the Stream dashboard
VITE_STREAM_API_KEY=<chat_app_api_key>

# User tokens, use the STREAM_SECRET_KEY (from the Stream dashboard) to generate these
# you can use the following generator https://getstream.io/chat/docs/react/token_generator/
VITE_STREAM_USER_ALICE_TOKEN=<alice_token>
VITE_STREAM_USER_MARK_TOKEN=<mark_token>
