.str-video__livestream-layout__wrapper {
  flex-grow: 1;
  overflow-y: hidden;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  .str-video__livestream-layout__screen-share {
    max-width: 100%;

    .str-video__video {
      object-fit: contain;
    }
  }

  .str-video__livestream-layout__floating-participant {
    position: absolute;
    width: 240px;
    height: 135px;
    box-shadow: var(--str-video__box-shadow-1);

    &--top-right {
      top: var(--str-video__space-8);
      right: var(--str-video__space-8);
    }

    &--top-left {
      top: var(--str-video__space-8);
      left: var(--str-video__space-8);
    }

    &--bottom-right {
      bottom: var(--str-video__space-8);
      right: var(--str-video__space-8);
    }

    &--bottom-left {
      bottom: var(--str-video__space-8);
      left: var(--str-video__space-8);
    }
  }

  .str-video__livestream-layout__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    &:hover .str-video__livestream-layout__overlay__bar {
      background-color: var(--str-video__livestream-overlay-color-hovered);
    }

    .str-video__livestream-layout__overlay__bar {
      height: 10%;
      min-height: var(--str-video__size-40);
      max-height: 70px;
      position: relative;
      bottom: 0;
      border-bottom-left-radius: var(--str-video__radius-lg);
      border-bottom-right-radius: var(--str-video__radius-lg);

      background-color: var(--str-video__livestream-overlay-color);

      display: flex;
      align-items: center;
      padding: 0 var(--str-video__spacing-lg);
    }

    .str-video__livestream-layout__overlay__bar-left,
    .str-video__livestream-layout__overlay__bar-center,
    .str-video__livestream-layout__overlay__bar-right {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .str-video__livestream-layout__overlay__bar-center {
      justify-content: center;
    }

    .str-video__livestream-layout__overlay__bar-right {
      justify-content: flex-end;
    }

    .str-video__livestream-layout__live-badge {
      padding: var(--str-video__spacing-xxs) var(--str-video__spacing-xs);
      border-radius: var(--str-video__radius-xs);
      background-color: var(--str-video__accent-primary);
      color: var(--str-video__text-on-accent);
    }

    .str-video__livestream-layout__viewers-count {
      display: inline-flex;
      align-items: center;
      gap: 3px;
      padding: var(--str-video__spacing-xxs) var(--str-video__spacing-xs);
    }

    .str-video__livestream-layout__speaker-name {
      font-size: 13px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .str-video__livestream-layout__duration {
      text-align: center;
    }

    .str-video__livestream-layout__mute-button {
      border-radius: var(--str-video__radius-xs);
      cursor: pointer;
      width: var(--str-video__size-32);
      height: var(--str-video__size-32);
      display: grid;
      place-items: center;

      &:hover {
        background-color: var(--str-video__overlay-color);
      }
    }

    .str-video__livestream-layout__go-fullscreen {
      border-radius: var(--str-video__radius-xs);
      cursor: pointer;
      width: var(--str-video__size-32);
      height: var(--str-video__size-32);
      display: grid;
      place-items: center;

      &:hover {
        background-color: var(--str-video__overlay-color);
      }
    }
  }

  .str-video__livestream-layout__backstage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .str-video__livestream-layout__starts-at {
      padding: var(--str-video__spacing-xxs) var(--str-video__spacing-xs);
    }

    .str-video__livestream-layout__early-viewers-count {
      display: inline-flex;
      align-items: center;
      gap: 3px;
      padding: var(--str-video__spacing-xxs) var(--str-video__spacing-xs);
    }
  }
}
