.str-video-tutorial__lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.str-video-tutorial__lobby h2 {
  width: 100%;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 28px;
}

.str-video-tutorial__user-selector__switch {
  display: flex;
  gap: 0.375rem;
}

.str-video-tutorial__avatar {
  border-radius: 50%;
  overflow: hidden;
}

.str-video-tutorial__user-selector__switch-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 3px solid transparent;
}

.str-video-tutorial__user-selector__switch-item:hover {
  background-color: var(--primary-color-low-emphasis);
}

.str-video-tutorial__user-selector__switch-item.selected {
  background-color: var(--primary-color-low-emphasis);
  border-color: var(--primary-color);

}

.str-video-tutorial__lobby__start-call-btn-group {
  display: flex;
  gap: 2rem;
}

.str-video-tutorial__lobby form {
  display: flex;
  gap: 0.3rem;
}

.str-video-tutorial__lobby input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--surface-color);
  background-color: var(--background-color);
  color: var(--text-color)
}

.str-video-tutorial__lobby button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 999px;
}

.str-video-tutorial__lobby button:active {
  background-color: var(--primary-color);
}

.str-video-tutorial__lobby button:disabled {
  background-color: #ccc;
}
