.str-video__device-settings {
  box-shadow: 0 6px 24px 3px rgba(0,0,0,0.2);
}

.str-video__loading-indicator__icon.spinner {
  background-color: var(--text-color);
  height: 6rem;
  width: 6rem;
  -webkit-mask-size: 4rem;
}

.str-video__call-controls__button:hover,
.str-video__device-settings__button:hover,
.str-video__device-settings__button:focus {
  background-color: var(--text-low-emphasis);
}

.str-video__call-controls__button--variant-danger .str-video__call-controls__button--icon {
  background-color: #fff;
}

.str-video__call-controls__button--variant-danger:hover {
  background-color: var(--str-video__danger-color2);
}

.str-video__participant_details {
  color: #fff
}

.str-video__participant_name--audio-muted,
.str-video__participant_name--video-muted {
  background-color: #fff;
}
