.str-video-tutorial.light {
  --background-color: #fff;
  --text-color: #272a30;
  --text-low-emphasis: #a7a7aa;
  --surface-color: #272a30;
  --primary-color-low-emphasis: #dfdfff;
}

.str-video-tutorial.dark {
  --background-color: #000;
  --text-color: #fff;
  --text-low-emphasis: #72767e;
  --surface-color: #959ba4;
  --primary-color-low-emphasis: #4e4e96;
}
.str-video-tutorial {
  --primary-color: #005fff;
  --secondary-color: #337EFF;
}


.str-video, .str-video__call, .str-video__theme-variables {
  --str-video__text-color1: var(--text-color);
  --str-video__background-color2: var(--background-color);
}
