.str-video-tutorial {
  font-family: var(--str-video__font-family);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

.str-video-tutorial__theme-btn {
  position: fixed;
  top: 1rem;
  padding: 0.25rem 0.8rem;
  font-size: 1rem;
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 999px;
}
