.str-video__audio-blocked-notification {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  cursor: pointer;

  .str-video__audio-blocked-notification__message {
    display: inline-flex;
    align-items: center;
    gap: var(--str-video__spacing-xs);
    padding: var(--str-video__spacing-xs);
    max-width: calc(100% - 1.6rem);

    .str-video__icon {
      width: var(--str-video__size-24);
      height: var(--str-video__size-24);
      flex-shrink: 0;
    }
  }

  .str-video__audio-blocked-notification__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
    line-height: 1.25;
  }

  .str-video__audio-blocked-notification__title {
    font-size: var(--str-video__typography-font-size-xs);
    font-weight: var(--str-video__typography-font-weight-semi-bold);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .str-video__audio-blocked-notification__subtitle {
    font-size: var(--str-video__typography-font-size-xs);
    font-weight: var(--str-video__typography-font-weight-regular);
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
