.str-video__audio-blocked-notification {
  background: var(--str-video__background-core-overlay-dark);
  border-radius: inherit;
  transition: background-color 0.15s ease;

  &:hover {
    background: var(--str-video__background-core-scrim);
  }

  .str-video__audio-blocked-notification__message {
    background-color: var(--str-video__background-core-overlay-dark-strong);
    border-radius: var(--str-video__radius-md);
    color: var(--str-video__text-on-accent);

    .str-video__icon {
      background-color: var(--str-video__text-on-accent);
    }
  }

  .str-video__audio-blocked-notification__subtitle {
    color: var(--str-video__text-on-accent);
  }
}
