.viewer-controls {
  padding: 15px 20px;
  display: flex;
  justify-content: center;

  .viewer-control-button {
    background-color: var(--str-video__background-core-surface-subtle);
    border-radius: var(--str-video__radius-xs);
    color: var(--str-video__text-primary);
    font-size: var(--str-video__typography-font-size-md);
    line-height: var(--str-video__typography-line-height-normal);
    font-weight: var(--str-video__typography-font-weight-medium);
    padding: 4px 10px;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      cursor: pointer;
      background-image: linear-gradient(
        var(--str-video__background-utility-hover),
        var(--str-video__background-utility-hover)
      );
    }
  }
}
