.str-video {
  &__dropdown {
    position: relative;
    &-selected {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--str-video__spacing-xs);
      background-color: transparent;
      box-shadow: inset 0 0 0 var(--str-video__w100)
        var(--str-video__border-core-default);
      border-radius: var(--str-video__input-radius-select-input);
      padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);
      color: var(--str-video__input-text-default);

      &__label {
        display: flex;
        align-items: center;
        gap: var(--str-video__spacing-xs);
        min-inline-size: 0;
        padding-block: var(--str-video__spacing-xxxs);

        font-size: var(--str-video__typography-font-size-sm);
        font-weight: var(--str-video__typography-font-weight-regular);
        line-height: var(--str-video__typography-line-height-normal);
      }

      &__text {
        min-inline-size: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & > *:hover,
      &:hover {
        cursor: pointer;
      }

      &:hover {
        box-shadow: inset 0 0 0 var(--str-video__w100)
          var(--str-video__border-utility-hover);
      }
      &[aria-expanded='true'] {
        box-shadow: inset 0 0 0 var(--str-video__w100)
          var(--str-video__border-utility-active);
      }
      &:focus-visible {
        outline: var(--str-video__w200) solid
          var(--str-video__border-utility-focused);
        outline-offset: calc(var(--str-video__w200) * -1);
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 2;
      width: 100%;
      margin-top: var(--str-video__spacing-xxs);

      background-color: var(--str-video__background-core-elevation-2);
      border-radius: var(--str-video__radius-lg);
      box-shadow: var(--str-video__box-shadow-3);

      padding: var(--str-video__spacing-xxs) var(--str-video__spacing-none);
      gap: var(--str-video__spacing-xxxs);
    }

    &-option {
      display: flex;
      align-items: center;
      min-height: 32px;
      margin-inline: var(--str-video__spacing-xxs);
      padding-inline: var(--str-video__spacing-xs);
      gap: var(--str-video__spacing-xs);
      border-radius: var(--str-video__radius-md);

      color: var(--str-video__text-primary);
      font-size: var(--str-video__typography-font-size-sm);
      font-weight: var(--str-video__typography-font-weight-semi-bold);
      line-height: var(--str-video__typography-line-height-normal);

      .str-video__icon {
        background-color: var(--str-video__text-secondary);
      }

      &:hover {
        background-color: var(--str-video__background-utility-hover);
        cursor: pointer;
      }

      &:active {
        background-color: var(--str-video__background-utility-pressed);
      }

      &:focus-visible {
        outline: var(--str-video__w200) solid
          var(--str-video__border-utility-focused);
        outline-offset: calc(var(--str-video__w200) * -1);
      }

      &--selected {
        background-color: var(--str-video__background-utility-selected);
      }
    }
  }
}

.str-video__icon.str-video__dropdown-selected__icon,
.str-video__icon.str-video__dropdown-selected__chevron {
  background-color: var(--str-video__input-text-icon);
}
