.str-video__embedded-join-error {
  background: var(--str-video__base-color4);
  color: var(--str-video__text-color1);
}

.str-video__embedded-join-error__message {
  color: var(--str-video__text-color2);
}
