.str-video__embedded-join-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--str-video__spacing-xl);
  min-height: 100%;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: var(--str-video__spacing-xl);
  text-align: center;
}

.str-video__embedded-join-error__message {
  font-size: var(--str-video__font-size-sm);
}
