.str-video__embedded-join-error {
  background: var(--str-video__background-core-app);
  color: var(--str-video__text-primary);
}

.str-video__embedded-join-error__message {
  color: var(--str-video__text-secondary);
}
