.root {
  @apply min-w-[200px];
}

.root > div:nth-child(2) {
  @apply pl-0 pr-0;
}

.controls {
  @apply flex flex-col pt-2;
}

.option {
  @apply flex flex-row items-center text-sm mb-2 pb-2  pl-2 pr-2;
  border-bottom: 1px solid #272a30;
}

.option:last-child {
  @apply border-none mb-0 pb-0;
}

.video,
.mic,
.people {
  @apply flex text-video-white mr-2;
  width: 15px;
  height: 15px;
}
