.str-video__button {
  --str-video__button-bg: var(--str-video__button-primary-bg);
  --str-video__button-border: var(--str-video__button-primary-border);
  --str-video__button-fg: var(--str-video__button-primary-text);
  --str-video__button-fg-on-fill: var(
    --str-video__button-primary-text-on-accent
  );

  &--primary {
    --str-video__button-bg: var(--str-video__button-primary-bg);
    --str-video__button-border: var(--str-video__button-primary-border);
    --str-video__button-fg: var(--str-video__button-primary-text);
    --str-video__button-fg-on-fill: var(
      --str-video__button-primary-text-on-accent
    );
  }

  &--secondary {
    --str-video__button-bg: var(--str-video__button-secondary-bg);
    --str-video__button-border: var(--str-video__button-secondary-border);
    --str-video__button-fg: var(--str-video__button-secondary-text);
    --str-video__button-fg-on-fill: var(
      --str-video__button-secondary-text-on-accent
    );
  }

  &--destructive {
    --str-video__button-bg: var(--str-video__button-destructive-bg);
    --str-video__button-border: var(--str-video__button-destructive-border);
    --str-video__button-fg: var(--str-video__button-destructive-text);
    --str-video__button-fg-on-fill: var(
      --str-video__button-destructive-text-on-accent
    );
  }

  background-color: transparent;

  background-image:
    linear-gradient(
      to bottom,
      var(--str-video__button-overlay, transparent),
      var(--str-video__button-overlay, transparent)
    ),
    linear-gradient(
      to bottom,
      var(--str-video__button-selected, transparent),
      var(--str-video__button-selected, transparent)
    );

  .str-video__icon {
    background-color: currentColor;
  }

  &--solid {
    background-color: var(--str-video__button-bg);
    color: var(--str-video__button-fg-on-fill);
  }

  &--outline {
    box-shadow: inset 0 0 0 var(--str-video__w100)
      var(--str-video__button-border);
    color: var(--str-video__button-fg);
  }

  &--ghost {
    color: var(--str-video__button-fg);
  }

  &:not(:disabled) {
    &[aria-pressed='true'],
    &[aria-expanded='true'] {
      --str-video__button-selected: var(
        --str-video__background-utility-selected
      );
    }

    &:hover {
      --str-video__button-overlay: var(--str-video__background-utility-hover);
    }

    &:active {
      --str-video__button-overlay: var(--str-video__background-utility-pressed);
    }
  }

  &:focus-visible {
    outline: var(--str-video__w200) solid
      var(--str-video__border-utility-focused);
  }

  &:disabled {
    color: var(--str-video__text-disabled);

    &.str-video__button--solid {
      background-color: var(--str-video__background-utility-disabled);
    }

    &.str-video__button--outline {
      box-shadow: inset 0 0 0 var(--str-video__w100)
        var(--str-video__border-utility-disabled);
    }
  }
}
