.str-video__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--str-video__border-radius-md);
  padding: var(--str-video__spacing-sm) var(--str-video__spacing-lg);
  text-align: center;
  min-width: 120px;
  width: 100%;
  font-size: var(--str-video__font-size-md);
  font-weight: 500;
  border: 1px solid transparent;
  color: var(--str-video__text-color1);

  background-color: var(--str-video__button-primary-base);

  &:hover {
    background-color: var(--str-video__button-primary-hover);
    cursor: pointer;
  }

  &__icon {
    margin-right: var(--str-video__spacing-xs);
    height: 16px;
    background-color: var(--str-video__text-color1);
  }

  &:disabled {
    background-color: var(--str-video__button-primary-disabled);
    cursor: not-allowed;
  }
}

.str-video__composite-button {
  display: flex;
  align-items: center;
  height: 100%;

  &--caption {
    flex-direction: column;
    gap: 0.25rem;
  }

  .str-video__composite-button__button-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    height: 38px;

    .str-video__call-controls__button {
      padding: 0;
    }

    .str-video__call-controls__button.str-video__menu-toggle-button {
      height: 100%;
      padding-inline: 2px;
    }

    .str-video__loading-indicator__icon {
      width: 1.375rem;
      height: 1.375rem;
      -webkit-mask-size: 1.25rem;
      mask-size: 1.25rem;
    }
  }
}

.str-video__call-controls__button {
  padding: 0.5rem;

  &--variant-danger,
  &--variant-success {
    padding: 0.5rem 1rem;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &:hover,
  &:hover > *:hover {
    cursor: pointer;
  }

  .str-video__icon {
    &--caret-down {
      width: 0.5rem;
      height: 0.5rem;
    }

    &--caret-up {
      width: 0.5rem;
      height: 0.5rem;
    }

    &--call-end {
      width: 1.5rem;
      height: 1.5rem;
    }

    &--call-accept {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.str-video__text-button {
  all: unset;
  padding: 5px;
  font-size: 12px;
  border-radius: var(
    --str-video__participant-list-header__close-button--border-radius
  );
  background: var(
    --str-video__participant-list-header__close-button--background-color
  );
}
