.str-video__composite-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  height: 100%;

  .str-video__composite-button__button-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    height: 38px;

    .str-video__call-controls__button {
      padding: 0;
    }

    .str-video__call-controls__button.str-video__menu-toggle-button {
      height: 100%;
      padding-inline: 2px;
    }

    .str-video__loading-indicator__icon {
      width: 1.375rem;
      height: 1.375rem;
      -webkit-mask-size: 1.25rem;
      mask-size: 1.25rem;
    }
  }
}

.str-video__call-controls__button {
  padding: 0.5rem;

  &--variant-danger,
  &--variant-success {
    padding: 0.5rem 1rem;
  }

  // FIXME: ask Jared for better styling
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }

  .str-video__icon {
    &--caret-down {
      width: 0.5rem;
      height: 0.5rem;
    }

    &--caret-up {
      width: 0.5rem;
      height: 0.5rem;
    }

    &--call-end {
      width: 1.5rem;
      height: 1.5rem;
    }

    &--call-accept {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.str-video__text-button {
  all: unset;
  padding: 5px;
  font-size: 12px;
  border-radius: var(
    --str-video__participant-list-header__close-button--border-radius
  );
  background: var(
    --str-video__participant-list-header__close-button--background-color
  );
}
