.str-video__button {
  --str-video__button-py: var(--str-video__button-padding-y-md);
  --str-video__button-px: var(--str-video__button-padding-x-with-label-md);
  --str-video__button-px-icon-only: var(
    --str-video__button-padding-x-icon-only-md
  );
  --str-video__button-radius: var(--str-video__button-radius-md);

  &--size-xs {
    --str-video__button-py: var(--str-video__button-padding-y-xs);
    --str-video__button-px: var(--str-video__button-padding-x-with-label-xs);
    --str-video__button-px-icon-only: var(
      --str-video__button-padding-x-icon-only-xs
    );
    --str-video__button-radius: var(--str-video__button-radius-sm);
  }

  &--size-sm {
    --str-video__button-py: var(--str-video__button-padding-y-sm);
    --str-video__button-px: var(--str-video__button-padding-x-with-label-sm);
    --str-video__button-px-icon-only: var(
      --str-video__button-padding-x-icon-only-sm
    );
    --str-video__button-radius: var(--str-video__button-radius-sm);
  }

  &--size-md {
    --str-video__button-py: var(--str-video__button-padding-y-md);
    --str-video__button-px: var(--str-video__button-padding-x-with-label-md);
    --str-video__button-px-icon-only: var(
      --str-video__button-padding-x-icon-only-md
    );
    --str-video__button-radius: var(--str-video__button-radius-md);
  }

  &--size-lg {
    --str-video__button-py: var(--str-video__button-padding-y-lg);
    --str-video__button-px: var(--str-video__button-padding-x-with-label-lg);
    --str-video__button-px-icon-only: var(
      --str-video__button-padding-x-icon-only-lg
    );
    --str-video__button-radius: var(--str-video__button-radius-lg);
  }

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--str-video__spacing-xs);
  white-space: nowrap;
  border: none;
  border-radius: var(--str-video__button-radius);

  padding-block: var(--str-video__button-py);
  padding-inline: var(--str-video__button-px);

  font-family: inherit;
  font-size: var(--str-video__typography-font-size-sm);
  font-weight: var(--str-video__typography-font-weight-semi-bold);
  line-height: var(--str-video__typography-line-height-normal);

  &:not(:disabled) {
    cursor: pointer;
  }

  &--icon-only {
    aspect-ratio: 1 / 1;
    padding: var(--str-video__button-px-icon-only);
    border-radius: var(--str-video__button-radius-full);
  }
}
