@use '../utils';

.str-video {
  /* The font color applied inside the component */
  --str-video__composite-button__button-group--color: var(
    --str-video__text-color1
  );

  /* The background color of the component */
  --str-video__composite-button__button-group--background-color: var(
    --str-video__button-primary-base
  );

  /* The active background color of the component */
  --str-video__composite-button__button-group-active--background-color: var(
    --str-video__button-primary-active
  );

  --str-video__composite-button__button-group-active-primary--background-color: var(
    --str-video__button-primary-active
  );

  --str-video__composite-button__button-group-active-secondary--background-color: var(
    --str-video__button-secondary-active
  );

  /* The hover background color of the component */
  --str-video__composite-button__button-group-hover--background-color: var(
    --str-video__button-primary-hover
  );

  /* The border radius used for the borders of the component */
  --str-video__composite-button__button-group--border-radius: var(
    --str-video__border-radius-xs
  );
}

.str-video__composite-button__button-group {
  @include utils.component-layer-overrides('composite-button__button-group');
  background-color: var(
    --str-video__composite-button__button-group--background-color
  );
  border-radius: var(--str-video__border-radius-circle);

  .str-video__menu-toggle-button .str-video__call-controls__button {
    background-color: transparent;
  }

  .str-video__call-controls__button.str-video__menu-toggle-button {
    background-color: var(--str-video__background-color1);
  }
}

.str-video__composite-button__caption {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.str-video__composite-button__button-group--active {
  background-color: var(
    --str-video__composite-button__button-group-active--background-color
  );

  .str-video__call-controls__button {
    background-color: var(
      --str-video__composite-button__button-group-active--background-color
    );
  }
}

.str-video__composite-button__button-group--active-primary {
  background-color: var(
    --str-video__composite-button__button-group-active-primary--background-color
  );

  .str-video__call-controls__button {
    background-color: var(
      --str-video__composite-button__button-group-active-primary--background-color
    );
  }
}

.str-video__composite-button__button-group--active-secondary {
  background-color: var(
    --str-video__composite-button__button-group-active-secondary--background-color
  );

  .str-video__call-controls__button {
    background-color: var(
      --str-video__composite-button__button-group-active-secondary--background-color
    );
  }
}

.str-video__composite-button__button-group:hover {
  background-color: var(
    --str-video__composite-button__button-group-hover--background-color
  );

  .str-video__call-controls__button {
    background-color: var(
      --str-video__composite-button__button-group-hover--background-color
    );
  }

  .str-video__icon {
    background-color: var(--str-video__icon-hover);
  }
}

.str-video__call-controls__button {
  border-radius: var(--str-video__border-radius-circle);
  text-decoration: none;
  box-shadow: none;
  border: none;
  background-color: var(--str-video__button-primary-base);

  &:hover {
    text-decoration: none;
    background-color: var(
      --str-video__composite-button__button-group-hover--background-color
    );

    .str-video__icon {
      background-color: var(--str-video__icon-hover);
    }
  }

  &--variant-danger {
    background-color: var(--str-video__button-tertiary-base);
    padding: 0.4rem;

    .str-video__icon {
      background-color: white;
    }

    &:hover {
      background-color: var(--str-video__button-tertiary-hover);
    }
  }

  &--variant-success {
    background-color: var(--str-video__info-color);

    &:hover {
      background-color: var(--str-video__info-color--accent);
    }
  }

  &--enabled {
    background: var(--str-video__background-color7);
  }
}
