@use '../utils';

.str-video {
  /* The font color applied inside the component */
  --str-video__composite-button__button-group--color: var(
    --str-video__text-color1
  );

  /* The background color of the component */
  --str-video__composite-button__button-group--background-color: var(
    --str-video__background-color1
  );

  /* The border radius used for the borders of the component */
  --str-video__composite-button__button-group--border-radius: var(
    --str-video__border-radius-xs
  );

  /* The background color of the component */
  --str-video__composite-button__button-group-active--background-color: var(
    --str-video__background-color7
  );
}

.str-video__composite-button__button-group {
  @include utils.component-layer-overrides('composite-button__button-group');

  .str-video__call-controls__button {
    background-color: transparent;
  }

  .str-video__call-controls__button.str-video__menu-toggle-button {
    background-color: var(--str-video__background-color1);
  }
}

.str-video__composite-button__caption {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.str-video__composite-button__button-group:hover,
.str-video__composite-button__button-group--active {
  background-color: var(
    --str-video__composite-button__button-group-active--background-color
  );
}

.str-video__call-controls__button {
  border-radius: var(--str-video__border-radius-xs);
  text-decoration: none;
  box-shadow: none;
  border: none;
  background-color: var(--str-video__background-color1);

  &:hover {
    text-decoration: none;
    background-color: var(
      --str-video__composite-button__button-group-active--background-color
    );
  }

  &--variant-danger {
    background-color: var(--str-video__danger-color);

    &:hover {
      background-color: var(--str-video__danger-color--accent);
    }
  }

  &--variant-success {
    background-color: var(--str-video__info-color);

    &:hover {
      background-color: var(--str-video__info-color--accent);
    }
  }

  &--enabled {
    background: var(--str-video__background-color7);
  }
}
