@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.str-chat__channel {
  @apply w-full;
}

.str-video__call__header {
  @apply p-4 !important;
}

.str-video__stage {
  @apply px-4;
}

.str-video__call-participants-screen-view__participants {
  @apply justify-start !important;
}

.str-video__device-settings select {
  @apply text-zinc-900;
}

.str-video__device-settings {
  @apply drop-shadow-sm bg-zinc-800;
}

.str-video__device-settings__button,
.str-video__device-settings__button:hover,
.str-video__device-settings__button:focus {
  @apply flex items-center justify-center bg-zinc-800 rounded-full p-1;
}

.str-video__call-controls-section {
  @apply flex justify-between items-center gap-3;
}

.str-video__call-controls {
  @apply gap-3 py-2;
  width: unset;
}

.str-chat__channel-header .str-chat__channel-header-end {
  row-gap: unset;
}

.str-chat__channel-header {
  @apply p-3;
}

.str-video__video-preview-container {
  width: 100%;
  border: none;
}

