@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.str-chat__channel {
  @apply w-full;
}

.str-video__call__header {
  @apply flex items-center justify-between gap-3;
  padding: 1rem !important;
}

.str-video__device-settings select {
  @apply text-zinc-900;
}

.str-video__device-settings__button,
.str-video__device-settings__button:hover,
.str-video__device-settings__button:focus {
  @apply flex items-center justify-center bg-zinc-800 rounded-full p-1;
}

.str-video__call-controls {
  @apply gap-3 py-2;
  width: unset;
}

.str-video__video-preview-container {
  width: 100%;
  border: none;
}
