@use '../../variables';

:host {
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.call-controls {
  display: flex;
  align-items: center;
  justify-content: center;

  .call-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
