.str-video__permission-requests {
  background-color: var(--str-video__background-core-surface-card);
  border-radius: var(--str-video__radius-md);
  padding: var(--str-video__spacing-sm);
  position: relative;

  .str-video__permission-requests__notification,
  .str-video__permission-request {
    display: flex;
    gap: var(--str-video__spacing-xs);
    padding-block: var(--str-video__spacing-xs);
    align-items: center;
  }

  .str-video__permission-requests__notification__message,
  .str-video__permission-request__message {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: var(--str-video__typography-font-size-sm);
    line-height: var(--str-video__typography-line-height-normal);
    font-weight: var(--str-video__typography-font-weight-regular);
    color: var(--str-video__text-primary);
  }

  .str-video__permission-request__button {
    min-width: 120px;
  }

  .str-video__permission-requests-list {
    background-color: var(--str-video__background-core-surface-card);
    border-bottom-left-radius: var(--str-video__radius-md);
    border-bottom-right-radius: var(--str-video__radius-md);
    box-shadow: var(--str-video__box-shadow-3);
    padding: var(--str-video__spacing-sm);
    width: 100%;
    z-index: 1;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
