.grid-view {
  --gap-size: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
  height: 100vh;
  align-items: center;
  align-content: center;
  justify-content: center;

  .str-video__participant-view {
    transition: width 0.2s ease-in-out;
  }
}
