.str-video__device-settings__button {
  .str-video__call-controls__button--icon-device-settings {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.str-video__device-settings {
  padding: 0.625rem;
  z-index: 1;
  font-family: 'Inter';
}

.str-video__device-settings__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0px 16px;
  margin-bottom: 33px;
}

.str-video__icon.str-video__device-settings__settings-icon {
  height: 24px;
  width: 24px;
  color: var(--str-video__base-color1);
}

.str-video__device-settings__close-button {
  color: var(--str-video__base-color1);
  background-color: transparent;
}

.str-video__device-settings__device-kind {
  padding: var(--str-video__spacing-lg);

  .str-video__device-settings__device-selector-title {
    font-size: var(--str-video__font-size-sm);
    font-weight: bold;
    line-height: 1.25rem;

    padding-bottom: 0.5rem;
    margin-bottom: var(--str-video__spacing-sm);
  }

  .str-video__option,
  .str-video__device-settings__option {
    display: flex;
    align-items: center;
    border-radius: var(--str-video__border-radius-lg);
    background-color: var(--str-video__button-primary-base);
    padding: var(--str-video__spacing-sm) var(--str-video__spacing-lg);

    gap: var(--str-video__spacing-sm);

    font-weight: 600;
    font-size: var(--str-video__font-size-sm);
    line-height: var(--str-video__spaging-lg);

    &:not(:first-of-type) {
      margin-top: var(--str-video__spacing-sm);
    }

    &__icon {
      &--selected {
        background-color: var(--str-video__brand-color1);
      }
    }

    &:hover {
      background-color: var(--str-video__button-default-hover);
      cursor: pointer;
    }

    &--selected,
    &--active {
      background-color: var(--str-video__button-default-hover);
    }

    input[type='radio'] {
      margin: 0;
      height: 1rem;
      width: 1rem;
      display: grid;
      place-content: center;

      &::before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        transform: scale(0);
      }
      &:checked::before {
        transform: scale(1);
      }

      &:checked {
        border-color: var(--str-video__primary-color);
      }
    }
  }
}

.str-video__device-settings__separator {
  border-color: var(--str-video__base-color3);
}

.str-video__audio-volume-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--str-video__spacing-xs);
  padding: var(--str-video__spacing-sm) var(--str-video__spacing-md);

  .str-video__icon {
    width: var(--str-video__font-size-xxl);
    height: var(--str-video__font-size-xxl);
  }

  .str-video__audio-volume-indicator__bar {
    flex: 1;
    background-color: var(--str-video__base-color1);
    height: var(--str-video__spacing-xs);
    border-radius: var(--str-video__border-radius-xs);
  }

  .str-video__audio-volume-indicator__bar-value {
    width: 100%;
    height: 100%;
    background: var(--str-video__primary-color);
    border-radius: var(--str-video__border-radius-xs);
    transform-origin: left center;
  }
}

.str-video__speaker-test {
  padding: var(--str-video__spacing-sm) 0;

  .str-video__speaker-test__button-content {
    display: flex;
    align-items: center;
    gap: var(--str-video__spacing-sm);
    padding: 0 var(--str-video__spacing-sm);
    font-size: var(--str-video__font-size-sm);
    font-weight: 600;
  }

  .str-video__composite-button__button {
    width: 100% !important;
  }
}
