@use "../utils";

.str-video {
  /* The font color applied inside the component */
  --str-video__menu-container--color: var(--str-video__text-color1);

  /* The background color of the component */
  --str-video__menu-container--background-color: var(--str-video__background-color1);

  /* The border radius used for the borders of the component */
  --str-video__menu-container--border-radius: var(--str-video__border-radius-xs);

  /* The background color of the component */
  --str-video__device-settings--background-color: var(--str-video__background-color1);

  /* The border radius used for the borders of the component */
  --str-video__device-settings--border-radius: var(--str-video__border-radius-xs);

  /* The box shadow applied to the component */
  --str-video__device-settings--box-shadow:  0 0 4px 1px var(--str-video__background-color2);
}

.str-video__device-settings {
  @include utils.component-layer-overrides('device-settings');
}

.str-video__menu-container {
  @include utils.component-layer-overrides('menu-container');
}

.str-video__device-settings__device-kind {
  font-size: 1rem;

  .str-video__device-settings__device-selector-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .str-video__device-settings__option {
    color: var(--str-video__text-color3);
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: var(--str-video__border-radius-xxs);
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover, &.str-video__device-settings__option--selected {
      color: var(--str-video__text-color1);
      background-color: var(--str-video__background-color2);
    }

    input[type="radio"] {
      -webkit-appearance: none;
      appearance: none;
      /* For iOS < 15 to remove gradient background */
      background-color: currentColor;
      font: inherit;
      color: var(--str-video__text-color3);
      border: 0.5rem solid var(--str-video__text-color3);
      border-radius: var(--str-video__border-radius-circle);

      &:checked {
        border-color: var(--str-video__primary-color);
      }

      &::before {
        border-radius: var(--str-video__border-radius-circle);
        transition: 120ms transform ease-in-out;
      }
      &:checked::before {
        box-shadow: inset 0.5rem 0.5rem var(--str-video__text-color1);
      }
    }
  }
}

.str-video__device-settings__button {
  cursor: pointer;
  border: none;
  background-color: var(--str-video__background-color1);

  .str-video__call-controls__button--icon-device-settings {
    @include utils.apply-mask-image(
        var(--str-video__icon--settings),
        var(--str-video__text-color1),
        contain
    );
  }

  &:hover,
  &:active {
    background-color: var(--str-video__background-color7);
    border-radius: var(--str-video__border-radius-xs);
  }
}

.str-video__device-settings__button--active {
  background-color: var(--str-video__background-color7);
}
