.str-video__screen-share-overlay {
  background: var(--str-video__background-core-overlay-dark-strong);
  color: var(--str-video__text-on-accent);
  backdrop-filter: blur(3px);
  border-radius: inherit;

  & > .str-video__icon {
    background-color: var(--str-video__text-on-accent);
  }

  .str-video__screen-share-overlay__title {
    font-size: var(--str-video__typography-font-size-xl);
  }
}
