// main entry point for component styles

@use 'src/base';
@use 'src/global-theme-variables';
@use 'src/utils';

@import 'src/Avatar';
@import 'src/Button';
@import 'src/CallControls';
@import 'src/CallParticipantList';
@import 'src/CallRecodingList';
@import 'src/CallStats';
@import 'src/DeviceSettings';
@import 'src/LoadingIndicator';
@import 'src/Menu';
@import 'src/Notification';
@import 'src/PendingCallPanel';
@import 'src/Permissions';
@import 'src/Reaction';
@import 'src/Search';
@import 'src/StreamCall';
@import 'src/Tooltip';
@import 'src/Video';
@import 'src/VideoPreview';
@import 'src/ParticipantView';
@import 'src/CallLayout';
@import 'src/Icon';

@import './src/Debug';
