.str-video__audio-level-slider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1.5rem 1rem;

  .str-video__audio-level-slider__track {
    flex: 1;
    height: 8px;
    overflow: hidden;

    .str-video__audio-level-slider__level {
      transform-origin: left center;
      width: 100%;
      height: 100%;
    }
  }
}

.str-video__participant-actions-context-menu {
  .str-video__audio-level-slider {
    padding: 0.625rem 0.75rem;
    min-width: 200px;

    .str-video__audio-level-slider__track {
      height: 5px;
    }

    .str-video__icon {
      width: 1rem;
      height: 1rem;
    }
  }
}
