.str-video__audio-level-slider {
  cursor: pointer;

  &.str-video__audio-level-slider--mute {
    .str-video__audio-level-slider__track,
    .str-video__icon  {
      background-color: var(--str-video__background-color7);
    }
  }

  .str-video__audio-level-slider__track {
    background: var(--str-video__text-color1);
    border-radius: 4px;

    .str-video__audio-level-slider__level {
      background: var(--str-video__primary-color);
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }

    .str-video_audio-level-slider__thumb {
      border-radius: var(--str-video__border-radius-circle);
      background-color: inherit;
      box-shadow: 0 0 20px var(--str-video__background-color2);
    }
  }
}
