.str-video__call-panel {
  background: var(--str-video__background-core-surface-card);
  border: 2px solid var(--str-video__border-core-default);
  border-radius: var(--str-video__radius-md);
}

.str-video__call-panel--ringing {
  .str-video__call-panel__members-list {
    .str-video__call-panel__member-box {
      border-radius: var(--str-video__radius-max);
      background: var(--str-video__background-core-surface-strong);

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: var(--str-video__radius-max);
        padding: var(--str-video__space-4);
        background: linear-gradient(
          180deg,
          var(--str-video__accent-primary),
          var(--str-video__accent-success)
        );
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }

      .str-video__member_details {
        background-color: var(--str-video__background-core-overlay-dark-strong);
        color: var(--str-video__text-on-accent);
        border-radius: var(--str-video__radius-xs);
        font-size: var(--str-video__typography-font-size-xs);
        line-height: var(--str-video__typography-line-height-tight);
      }
    }
  }
}
