.str-video__call-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 300px;
  padding: var(--str-video__spacing-md) var(--str-video__spacing-md)
    var(--str-video__spacing-xs);
  gap: var(--str-video__spacing-md);
}

.str-video__call-panel--ringing {
  .str-video__call-panel__members-list {
    overflow: hidden;
    display: flex;
    align-items: center;

    .str-video__call-panel__member-box {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: var(--str-video__spacing-2xl);

      .str-video__avatar {
        width: var(--str-video__size-80);
        height: var(--str-video__size-80);
      }

      .str-video__member_details {
        position: absolute;
        bottom: 10%;
        padding: var(--str-video__space-2) var(--str-video__space-6);
      }
    }
  }

  .str-video__pending-call-controls {
    display: flex;
    gap: var(--str-video__spacing-sm);
  }
}
