
.str-video__call-header {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  .str-video__call-header__title-group {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;

    a[data-testid='home-button'] {
      display: flex;
    }

    .str-video__call-header-title {
      white-space: nowrap;
      overflow-y: visible;
      // Not every browser support clip overflow, so hidden is defined as a fallback
      overflow-x: hidden;
      overflow-x: clip;
      text-overflow: ellipsis;
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      max-width: 400px;
    }
  }
}

.str-video__call-header__controls-group {
  display: flex;
  gap: 0.5rem;
}

.str-video__call-header__notifications {
  display: flex;
  justify-content: center;

  .str-video__loading-indicator {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .str-video__loading-indicator__icon {
    width: 1rem;
    height: 1rem;
  }
  .str-video__loading-indicator-text {
    font-size: 0.875rem;
  }
}
