$scope-name: 'str-video__participant-view';

.str-video__participant-view {
  position: relative;
  width: 100%;
  max-width: 1280px;
  max-height: 100%;
  min-height: 0;
  aspect-ratio: 4/3;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--str-video__radius-2xl);

  &--speaking {
    outline: var(--str-video__w200) solid var(--str-video__accent-primary);
  }

  .str-video__participant-view__menu-button {
    transition: opacity 200ms ease-out;
    opacity: 0.3;
  }

  &:hover {
    .str-video__participant-view__menu-button {
      opacity: 1;
    }
  }

  & > .str-video__participant-view__menu-button {
    position: absolute;
    top: var(--str-video__space-8);
    left: var(--str-video__space-8);
  }

  .str-video__participant-details {
    position: absolute;
    inset: auto auto var(--str-video__space-8) var(--str-video__space-8);
    min-block-size: var(--str-video__size-32);
    max-inline-size: 256px;
    display: flex;
    align-items: center;
    gap: var(--str-video__spacing-xs);
    border-radius: var(--str-video__radius-lg);
    background-color: var(--str-video__background-core-overlay-dark-strong);
    -webkit-backdrop-filter: blur(12.5px);
    backdrop-filter: blur(12.5px);

    .str-video__participant-details__name {
      display: flex;
      align-items: center;
      gap: var(--str-video__spacing-xs);
      padding: var(--str-video__space-4) var(--str-video__space-4)
        var(--str-video__space-4) var(--str-video__space-12);
      font-size: var(--str-video__typography-font-size-xs);
      line-height: var(--str-video__typography-line-height-tight);
      font-weight: var(--str-video__typography-font-weight-regular);
      color: var(--str-video__text-on-accent);

      .str-video__participant-details__name-text {
        max-inline-size: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @mixin icon {
        flex-shrink: 0;
        width: var(--str-video__icon-size-sm);
        height: var(--str-video__icon-size-sm);
        -webkit-mask-size: var(--str-video__icon-size-sm);
        mask-size: var(--str-video__icon-size-sm);
        background-color: var(--str-video__text-on-accent);
      }

      .str-video__participant-details__name--audio-muted {
        @include icon();
        -webkit-mask-image: var(--str-video__icon--mic-off);
        mask-image: var(--str-video__icon--mic-off);
      }

      .str-video__participant-details__name--audio-connecting {
        .str-video__loading-indicator__icon {
          width: var(--str-video__icon-size-sm);
          height: var(--str-video__icon-size-sm);
          border-width: var(--str-video__size-2);
        }
      }

      .str-video__participant-details__name--video-muted {
        @include icon();
        -webkit-mask-image: var(--str-video__icon--camera-off);
        mask-image: var(--str-video__icon--camera-off);
      }

      .str-video__participant-details__name--track-paused {
        @include icon();
        mask-image: var(--str-video__icon--low-bandwidth-fill);
        -webkit-mask-image: var(--str-video__icon--low-bandwidth-fill);
      }

      .str-video__participant-details__name--pinned {
        cursor: pointer;
        @include icon();
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-image: var(--str-video__icon--pin);
        mask-image: var(--str-video__icon--pin);
      }
    }
  }

  .str-video__connection-quality-indicator {
    position: absolute;
    inset: auto var(--str-video__space-8) var(--str-video__space-8) auto;

    inline-size: var(--str-video__size-32);
    block-size: var(--str-video__size-32);
    border-radius: var(--str-video__radius-max);

    display: grid;
    grid-auto-flow: column;
    place-content: center;
    align-items: end;
    gap: 3px;

    .str-video__connection-quality-indicator__bar {
      inline-size: var(--str-video__icon-stroke-emphasis);
      border-radius: var(--str-video__radius-max);

      &:nth-child(1) {
        block-size: 4px;
      }

      &:nth-child(2) {
        block-size: 7px;
      }

      &:nth-child(3) {
        block-size: 10px;
      }
    }
  }
}

.str-video__speech-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-shrink: 0;
  inline-size: var(--str-video__size-24);
  block-size: var(--str-video__size-24);
  padding: 7px;
  border-radius: var(--str-video__radius-md);
  background-color: var(--str-video__background-core-overlay-dark-strong);

  .str-video__speech-indicator__bar {
    flex-shrink: 0;
    width: 2px;
    height: 20%;
    background-color: var(--str-video__indicator-sound-indicator-speaking);
    border-radius: var(--str-video__radius-max);
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-name: speech-indicator-silence;
    animation-timing-function: ease-in-out;
  }

  &.str-video__speech-indicator--dominant {
    .str-video__speech-indicator__bar {
      background-color: var(--str-video__indicator-sound-indicator-speaking);
    }
  }

  &.str-video__speech-indicator--speaking {
    .str-video__speech-indicator__bar {
      height: 100%;
      animation-iteration-count: infinite;

      &:nth-child(1) {
        height: 70%;
        animation-duration: 0.8s;
        animation-name: speech-indicator-quiet;
      }
      &:nth-child(2) {
        height: 80%;
        animation-duration: 1s;
        animation-name: speech-indicator-loud;
      }
      &:nth-child(3) {
        height: 60%;
        animation-duration: 0.9s;
        animation-name: speech-indicator-quiet;
      }
    }
  }

  @keyframes speech-indicator-silence {
    25% {
      transform: scaleY(2);
    }
    50% {
      transform: scaleY(2.5);
    }
    75% {
      transform: scaleY(1);
    }
  }

  @keyframes speech-indicator-quiet {
    25% {
      transform: scaleY(0.5);
    }
    50% {
      transform: scaleY(0.3);
    }
    75% {
      transform: scaleY(0.5);
    }
  }

  @keyframes speech-indicator-loud {
    25% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.45);
    }
    75% {
      transform: scaleY(1.1);
    }
  }
}
