$scope-name: 'str-video__participant-view';

.str-video__participant-view {
  position: relative;
  width: 100%;
  max-width: 1280px;
  max-height: 100%;
  min-height: 0;
  aspect-ratio: 4/3;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--str-video__border-radius-sm);

  &--speaking {
    outline: 2px solid var(--str-video__primary-color);
  }

  .str-video__participant-details,
  .str-video__call-controls__button {
    transition: opacity 200ms ease-out;
    opacity: 0.3;
    color: var(--str-video__text-color1);
  }

  &:hover {
    .str-video__participant-details,
    .str-video__call-controls__button {
      opacity: 1;
    }
  }

  & > .str-video__call-controls__button {
    position: absolute;
    top: 0.875rem;
    left: 0.875rem;
    padding: 0.3rem;
  }

  .str-video__participant-details {
    position: absolute;
    left: -1px;
    bottom: -1px;
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 0 var(--str-video__border-radius-xs) 0
      var(--str-video__border-radius-sm);
    background-color: var(--str-video__background-color4);

    .str-video__participant-details__name {
      display: flex;
      align-items: center;
      gap: 0.3125rem;
      padding: 4px 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @mixin icon {
        $icon-size: 1rem;
        width: $icon-size;
        height: $icon-size;
        mask-size: $icon-size;
        -webkit-mask-size: $icon-size;
        background-color: var(--str-video__text-color1);
      }

      .str-video__participant-details__name--audio-muted {
        @include icon();
        mask-image: var(--str-video__icon--mic-off);
        -webkit-mask-image: var(--str-video__icon--mic-off);
      }

      .str-video__participant-details__name--dominant_speaker {
        @include icon();
        mask-image: var(--str-video__icon--dominant-speaker);
        -webkit-mask-image: var(--str-video__icon--dominant-speaker);

        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
      }

      .str-video__participant-details__name--video-muted {
        @include icon();
        mask-image: var(--str-video__icon--camera-off);
        -webkit-mask-image: var(--str-video__icon--camera-off);
      }

      .str-video__participant-details__name--pinned {
        @include icon();
        width: 0.8rem;
        -webkit-mask-size: 0.8rem;
        height: 1rem;
        mask-size: 0.8rem;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-image: var(--str-video__icon--pin);
        -webkit-mask-image: var(--str-video__icon--pin);
      }

      .str-video__participant-details__name--network-stats {
        @include icon();
        background-image: var(--str-video__icon--network-quality);
        cursor: pointer;
        margin-right: 0.625rem;
      }
    }
  }

  .str-video__participant-details__connection-quality {
    position: absolute;
    bottom: -1px;
    right: -1px;

    border-radius: var(--str-video__border-radius-sm) 0 0 0;

    width: 24px;
    height: 24px;
    display: block;
    background-size: cover;
    background-color: var(--str-video__background-color4);

    &--poor {
      background-image: var(--str-video__icon--connection-quality-poor);
    }
    &--good {
      background-image: var(--str-video__icon--connection-quality-good);
    }
    &--excellent {
      background-image: var(--str-video__icon--connection-quality-excellent);
    }
  }
}
