.speaker-container {
  position: relative;
}

.mute-icon svg {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  right: 0;
}

.speaker-image {
  width: 100%;
  padding: 0.25rem;
  box-sizing: border-box;
  border: 6px solid transparent;
  transition: border 200ms ease-out;
}

.speaking-indicator {
  border-color: var(--background-color);
}

.speaking-requests-container {
  margin: 1rem 0;

  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.speaking-request {
  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 1rem;
  border: 2px solid var(--background-color-light);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.speaking-request-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.speaking-request-buttons button {
  transition: background 200ms ease-out;
}

.reject-button:hover {
  background: hsl(0, 100%, 70%);
}

.accept-button:hover {
  background: hsl(120, 100%, 35%);
}
