.str-video__call-controls {
  justify-content: flex-start;
  padding: var(--str-video__spacing-sm) var(--str-video__spacing-md);
  gap: 0.25rem;

  .str-video__call-controls--group {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    &.str-video__call-controls--options {
      .str-video__call-controls__mobile {
        display: flex;
      }
      .str-video__call-controls__desktop {
        display: none;
      }
    }

    &.str-video__call-controls--media {
      margin-left: 0px;
      .str-video__call-controls__mobile {
        display: flex;
      }
      .str-video__call-controls__desktop {
        display: none;
      }
    }

    &.str-video__call-controls--sidebar {
      width: 100%;
      justify-content: flex-end;
    }
  }
}

@include respond-above(sm) {
  .str-video__call-controls {
    justify-content: space-between;
    background-color: var(--str-video__base-color7);

    gap: 0.5rem;

    background-color: var(--str-video__base-color7);
    border-radius: var(--str-video__border-radius-xxl);

    .str-video__call-controls--group {
      gap: 0.5rem;

      &.str-video__call-controls--options {
        .str-video__call-controls__desktop {
          display: flex;
        }
        .str-video__call-controls__mobile {
          display: none;
        }
      }
      &.str-video__call-controls--media {
        .str-video__call-controls__desktop {
          display: flex;
        }
        .str-video__call-controls__mobile {
          display: none;
        }
      }

      &.str-video__call-controls--media {
        margin-left: -100px;
      }

      &.str-video__call-controls--sidebar {
        width: unset;
        justify-content: flex-start;
      }
    }
  }
}

.rd__particpant-count {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--str-video__border-radius-circle);

  position: absolute;
  bottom: 40px;
  background: var(--str-video__brand-color3);
  color: var(--str-video__base-color4);
  padding: 5px;
  height: 16px;
  width: 16px;
  margin-left: 20px;
}
