.mapboxgl-popup {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  left: 30px;
}
