@import '@getstream/ui-library/build/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.mapboxgl-popup {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 9999;
  top: 0;
  width: 140px;
  min-width: 140px;
  max-width: 140px;
  left: 55px;
}

.str-video__participant_details {
  display: none;
}

.mapboxgl-control-container {
  display: none;
}
