.root {
}

.heading {
  @apply text-video-white   font-medium;
}

.list {
  @apply pb-3 pt-3;
  font-size: 16px;
}

.device {
  @apply text-video-grey-400;
}

.device:not(:first-of-type) {
  @apply mt-1;
}

.device:hover {
  @apply cursor-pointer bg-video-grey-700 text-video-white;
  border-radius: 6px;
}

.selectedDevice {
  @apply bg-video-grey-700 text-video-white;
  border-radius: 6px;
}

.label {
  @apply flex items-center text-sm pt-2 pb-2 pr-2 pl-2;
}

.label:hover {
  @apply cursor-pointer;
}

.radioButton {
  @apply mr-3 bg-video-transparent;
}

.radioButton:hover {
  @apply cursor-pointer;
}

.radioButton:before {
  @apply absolute h-4 w-4 bg-video-grey-400 border-2 border-video-grey-600 rounded-full flex;
  content: '';
  margin-top: -0.5px;
  margin-left: -0.5px;
}

.radioButton:checked:before {
  @apply h-4 w-4 bg-video-white border-4 border-video-stream-500;
}
