@use '../utils';

.str-video__participant-listing-item {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  padding-block: 0.5rem;
  width: 100%;

  .str-video__participant-listing-item__display-name {
    @include utils.ellipsis-text();
  }

  .str-video__participant-listing-item__media-indicator-group {
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    gap: 0.75rem;

    .str-video__participant-listing-item__icon {
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}
