@use '../utils';

.str-video {
  --str-video__participant-list--background-color: var(
    --str-video__background-color1
  );
  --str-video__participant-list--border-radius: var(
    --str-video__border-radius-xs
  );

  --str-video__participant-list-header--color: var(--str-video__text-color1);

  --str-video__participant-list-header--title-count__color: var(
    --str-video__text-color3
  );

  --str-video__participant-list-header__close-button--background-color: #121416;
  --str-video__participant-list-header__close-button--border-radius: var(
    --str-video__border-radius-xs
  );

  --str-video__participant-list-header__close-button-icon--background-color: #72767e;
}

.str-video__participant-list {
  @include utils.component-layer-overrides('participant-list');

  .str-video__participant-list-header__title {
    @include utils.component-layer-overrides('participant-list-header');
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .str-video__participant-list-header__title-count {
    @include utils.component-layer-overrides(
      'participant-list-header--title-count'
    );
  }

  .str-video__participant-list-header__title-anonymous {
    @include utils.component-layer-overrides(
      'participant-list-header--title-anonymous'
    );
  }

  .str-video__participant-list-header__close-button {
    @include utils.component-layer-overrides(
      'participant-list-header__close-button'
    );

    .str-video__participant-list-header__close-button--icon {
      @include utils.apply-mask-image(
        var(--str-video__icon--close),
        var(
          --str-video__participant-list-header__close-button-icon--background-color
        ),
        0.75rem 0.75rem
      );
    }
  }

  .str-video__participant-list--empty {
    font-size: 13px;
  }

  .str-video__participant-list__footer {
    display: flex;
    justify-content: center;
    padding: 0 0.75rem 0.75rem;

    .str-video__invite-link-button {
      font-size: 13px;
      color: var(--str-video__text-color4);
      background-color: var(--str-video__background-color4);
      border-radius: var(--str-video__border-radius-xl);

      .str-video__invite-participant-icon {
        @include utils.apply-mask-image(
          var(--str-video__icon--user-plus),
          var(--str-video__text-color4),
          1rem
        );
      }
    }
  }
}
