.rd__summary-feedback-type {
  display: flex;
  flex-direction: row;
  gap: var(--str-video__spacing-md);
  flex-wrap: wrap;
}

.rd__summary-feedback-type-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--str-video__spacing-lg);
  border: 1px dashed #656B72;

  border-radius: var(--str-video__border-radius-xs);
  padding: var(--str-video__spacing-sm) var(--str-video__spacing-md);
  color:#656B72;
  font-size: var(--str-video__font-size-md);
  font-weight: 600;

  &:hover{
    cursor: pointer;
  }

  &--selected {
    color: var(--str-video__text-color1);
    border: 1px solid transparent;


  }

  &--close {
    background-color: #656B72;
    width: 16px;
    height: 16px;
  }
  &--add {
    background-color: #656B72;
    width: 16px;
    height: 16px;
  }
}

