.title-row {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.title-row button {
  aspect-ratio: 1;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .form-container {
    padding: 1rem;
  }

  .room-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding-top: 2rem;
    justify-items: end;
  }
}
