.str-video__notification {
  background-color: var(--str-video__background-core-inverse);
  color: var(--str-video__text-on-inverse);
  border-radius: var(--str-video__radius-3xl);
  box-shadow: var(--str-video__box-shadow-3);
  font-size: var(--str-video__typography-font-size-sm);
  line-height: var(--str-video__typography-line-height-normal);
  z-index: 100;

  > .str-video__icon {
    background-color: var(--str-video__text-on-inverse);
  }
}
