.str-video__notification {
  min-height: var(--str-video__size-48);
  max-width: var(--str-video__size-480);
  display: flex;
  align-items: center;
  gap: var(--str-video__spacing-xs);

  padding-block: var(--str-video__spacing-sm);
  padding-inline: var(--str-video__spacing-md);

  &--success,
  &--error,
  &--loading {
    padding-inline-start: var(--str-video__spacing-sm);
  }

  .str-video__notification__message {
    flex: 1;
  }

  .str-video__notification__close {
    margin-inline-start: var(--str-video__spacing-xxs);
    display: inline-block;
    width: var(--str-video__icon-size-sm);
    height: var(--str-video__icon-size-sm);

    &:hover {
      cursor: pointer;
    }
  }
}
