.str-video__notification {
  min-height: var(--str-video__size-48);
  max-width: var(--str-video__size-480);
  padding: var(--str-video__spacing-xs);
  display: flex;
  align-items: center;
  gap: var(--str-video__spacing-xs);

  .str-video__notification__icon {
    display: inline-block;
    width: var(--str-video__icon-size-sm);
    height: var(--str-video__icon-size-sm);
  }

  .str-video__notification__message {
    flex: 1;
  }

  .str-video__loading-indicator {
    flex-direction: row;
    align-items: center;
    gap: var(--str-video__spacing-xs);
  }

  .str-video__notification__close {
    display: inline-block;
    width: var(--str-video__icon-size-sm);
    height: var(--str-video__icon-size-sm);

    &:hover {
      cursor: pointer;
    }
  }
}
