.root {
  @apply bg-video-grey-600 rounded-container text-video-white border-video-transparent border-2;
  max-width: 300px;
}

.root.focused {
  @apply border-video-stream-500;
  box-shadow: 0 0 30px rgba(0, 95, 255, 0.5);
}

.header {
  border: 1px solid #272a30;
}

.heading {
  @apply p-4;
}

.content {
  @apply p-4;
}

.copy {
  @apply bg-video-grey-500 p-2 flex items-center text-video-white/50;
  border: 1px solid #272a30;
  border-radius: 6px;
  flex-wrap: nowrap;
}

.copy:hover {
  @apply text-video-white;
}

.copyButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.copyButton:focus,
.copyButton:hover {
  @apply bg-video-transparent relative border-none cursor-pointer;

}

.url {
  @apply bg-video-transparent relative border-none cursor-pointer w-full h-full text-xs;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 2;
}

.copied {
  @apply flex content-between items-center justify-around text-video-white text-xs;
  width: 100%;
}

.copied span {
  flex: 1;
}

.copiedIcon {
  @apply mr-1 h-[18px];
}


.reload {
  @apply h-[14px] cursor-pointer;
}

.description {
  @apply mt-4 mb-4 text-xs flex;
}

.description:last-of-type {
  @apply hidden lg:inline-block;
}

.qr {
  @apply hidden lg:flex lg:bg-video-grey-700 rounded-container  lg:p-2 2xl:p-4 flex justify-center;
}

.qr.hide {
  @apply hidden;
}

.showQrIndicator {
  @apply inline-block ml-2 cursor-pointer;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.showQrIndicator.transform {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.code {
  @apply bg-video-white rounded-container md:p-2 2xl:p-4 h-[auto] md:w-[30%] xl:w-[40%] 2xl:w-[50%];
}

.share {
  @apply mt-3 w-full;
}
