.sidebar {
  @apply hidden sm:grid  gap-y-3;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    'invitePanel'
    'participantsPanel'
    'chatPanel';
}

.invitePanel {
  grid-area: invitePanel;
}

.particpantsPanel {
  grid-area: particpantsPanel;
}

.chatPanel {
  grid-area: chatPanel;
}

.content {
  @apply flex flex-col md:flex-row items-center justify-around h-full;
}

.content.activeTour {
  @apply relative grid gap-y-3;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'stage'
    'tour';
}

@media screen(sm) {
  .content.activeTour {
    @apply relative grid gap-y-3;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'stage'
      'tour';
  }
}

.stage {
  grid-area: stage;
  @apply h-full w-full flex justify-center;
}

@media screen(sm) {
  .stage {
    grid-area: stage;
    @apply h-full w-full flex justify-center;
  }
}
.tour {
  @apply flex items-center justify-center w-full;
  bottom: 10px;
  margin: 0 auto;
  grid-area: tour;
}

.animation-enter {
  opacity: 0;
  display: block;
}
.animation-enter-active {
  opacity: 1;
  transition: opacity 700ms;
}
.animation-exit {
  opacity: 1;
}
.animation-exit-active {
  opacity: 0;
  display: none;
  transition: opacity 200ms;
}
