.str-video__embedded-call {
  background-color: var(--str-video__base-color4);
}

.str-video__embedded-sidebar__container {
  background-color: var(--str-video__base-color7);
}

.str-video__embedded-participants {
  background-color: var(--str-video__base-color7);
}
