@use '../../utils';

.str-video__embedded-call {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  overflow: auto hidden;

  .str-video__permission-requests {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

.str-video__embedded-call-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--str-video__spacing-sm) var(--str-video__spacing-md);
  background-color: var(--str-video__base-color7);
  border-radius: var(--str-video__border-radius-xxl);
}

.str-video__embedded-layout {
  display: flex;
  flex: 1;
  min-height: 0;
  gap: var(--str-video__spacing-md);
  padding: var(--str-video__spacing-md);
  position: relative;
}

.str-video__embedded-layout__stage {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.str-video__embedded-notifications {
  position: absolute;
  bottom: 60px;
  left: var(--str-video__spacing-lg);
  right: 0;
  z-index: 3;
}

.str-video__embedded-sidebar {
  position: absolute;
  border-radius: var(--str-video__border-radius-md);
  height: calc(100% - 60px);

  &.str-video__embedded-sidebar--open {
    z-index: 2;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .str-video__participant-list {
    flex: 1;
    min-height: 0;
  }
}

.str-video__embedded-participants {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  width: 100%;
  border-radius: var(--str-video__border-radius-md);
  padding: var(--str-video__spacing-lg);
  margin: var(--str-video__spacing-lg) 0;
}

@include utils.respond-above(sm) {
  .str-video__embedded-call-header {
    display: none;
  }

  .str-video__embedded-sidebar {
    position: relative;
    width: 0;
    height: auto;
    overflow: hidden;
    transition: width 0.3s;
    z-index: 1;

    &.str-video__embedded-sidebar--open {
      width: 350px;
    }
  }

  .str-video__embedded-participants {
    max-width: 350px;
    min-width: 350px;
    height: 100%;
    margin: 0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
