@use 'sass:map';
@use '../../utils';

.str-video__embedded-lobby {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.str-video__embedded-lobby-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--str-video__spacing-lg);
  position: absolute;
  top: 0;
  left: 0;
}

.str-video__embedded-lobby-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.str-video__embedded-lobby-heading {
  display: flex;
  flex-direction: column;
  font-size: var(--str-video__font-size-xl);
  font-weight: 500;
  margin: 0;
  margin-bottom: var(--str-video__spacing-xs);
  text-align: center;
}

.str-video__embedded-lobby-camera {
  position: relative;
  width: calc(100vw - var(--str-video__spacing-lg));
  height: auto;

  &--off {
    .str-video__video-preview-container {
      opacity: 0.75;
    }
  }
}

.str-video__embedded-lobby-video-preview {
  position: relative;
  height: 320px;
  width: 100%;
  border-radius: var(--str-video__border-radius-md);
  overflow: hidden;
}

.str-video__embedded-lobby-camera .str-video__video-preview-container {
  height: 100%;
  width: 100%;
  border-radius: var(--str-video__border-radius-md);
  border-color: transparent;
}

.str-video__embedded-lobby-camera .str-video__video-preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.str-video__embedded-lobby-media-toggle {
  display: flex;
  position: absolute;
  bottom: 0px;
  gap: var(--str-video__spacing-sm);
  left: 50%;
  transform: translate(-50%, -50%);
}

.str-video__embedded-lobby-media-toggle .str-video__menu-toggle-button {
  display: none;
}

.str-video__embedded-lobby__no-permission {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: var(--str-video__font-size-sm);
  text-align: center;
  padding: var(--str-video__spacing-md);
}

.str-video__embedded-lobby__no-permission .str-video__avatar,
.str-video__embedded-lobby__no-permission
  .str-video__avatar--initials-fallback {
  width: 100px;
  height: 100px;
  font-size: 2.5rem;
}

.str-video__embedded-lobby-controls {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--str-video__spacing-md);
  margin-bottom: var(--str-video__spacing-sm);
}

.str-video__embedded-lobby-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.str-video__embedded-lobby-device-button {
  display: flex;
  align-items: center;
  gap: var(--str-video__spacing-sm);
  padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);
  background: transparent;
  border: none;
  font-size: var(--str-video__font-size-xs);
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__label {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin: 0;
  }

  &--disabled {
    cursor: default;
    opacity: 0.6;

    &:hover {
      opacity: 0.6;
    }
  }
}

.str-video__embedded-display-name {
  border-radius: var(--str-video__border-radius-xl);
  padding: var(--str-video__spacing-lg);
  width: 100%;
  text-align: center;
  backdrop-filter: blur(10px);

  &-label {
    font-weight: 600;
    font-size: var(--str-video__font-size-xs);
    letter-spacing: 0.25ex;
    text-transform: uppercase;
    margin-bottom: var(--str-video__spacing-md);
    display: block;
  }
}

.str-video__embedded-lobby-join {
  width: 100%;
}

@include utils.respond-above(sm) {
  .str-video__embedded-lobby-content {
    max-width: 40vw;
  }

  .str-video__embedded-lobby-camera {
    width: 600px;
  }

  .str-video__embedded-lobby-video-preview {
    height: 320px;
    width: 100%;
  }

  .str-video__embedded-lobby-device-button__label {
    width: 150px;
  }
}

@include utils.respond-above(md) {
  .str-video__embedded-lobby-content {
    max-width: 25vw;
  }
}
