.rd__join-call-input {
  height: 100%;
  padding: 0.5rem 0.75rem;
  flex: 1;
}

.rd__call-recording-search-input {
  width: 150px;
}

.rd__call-type-dropdown-container {
  position: relative;

  .rd__call-recording-search-input__call-type-dropdown {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    margin-top: 0.25rem;
    z-index: 1;

    background-color: var(--str-video__background-color5);
    border-radius: 0 0 8px 8px;
    overflow: hidden;

    .rd__call-recording-search-input__option {
      padding: 0.125rem 0.5rem;
      cursor: pointer;

      &.rd__call-recording-search-input__option--highlighted,
      &:hover {
        background-color: #72767e;
      }
    }
  }
}

