.str-video__participant-placeholder {
  background: var(--str-video__background-color5);
  border-radius: var(--str-video__border-radius-sm);
  border: 2px solid transparent;
  overflow: hidden;

  .str-video__participant-placeholder--avatar {
    border-radius: var(--str-video__border-radius-circle);
  }

  .str-video__participant-placeholder--avatar-speaking {
    outline: 2px solid var(--str-video__text-color1);
    transition: outline 100ms ease-in;
  }

  .str-video__participant-placeholder--initials-fallback {
    background-color: var(--str-video__primary-color);
    border-radius: var(--str-video__border-radius-circle);
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
