.str-video__video-placeholder {
  background: var(--str-video__background-core-surface-subtle);
  border: var(--str-video__w100) solid var(--str-video__border-core-default);
  border-radius: inherit;
}
