.screen-share-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .screen-share-player {
    flex: 1;
  }

  .current-speaker {
    position: absolute;
    width: 240px;
    right: 10px;
  }
}
