.spotlight-container {
  height: 100vh;

  .str-video__participant {
    max-width: 100%;
  }

  .str-video__remote-video {
    height: 100vh;
  }

  .str-video__participant-placeholder {
    height: 100vh;
  }
}
