@use '@angular/material' as mat;
@use 'sass:map';

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

$primary-color: mat.get-color-from-palette($my-primary, 500);
$primary-text-color: white;

$accent-color: mat.get-color-from-palette($my-accent, 500);
$accent-text-color: black;
