.root {
  @apply flex items-center justify-between bg-video-grey-800 border-t-2 border-video-grey-450 pr-2 pt-2;
}

.textareaContainer {
  @apply w-full relative;
}

.previewContainer {
  @apply bg-video-grey-800 w-full h-full mb-2;
  border-radius: 12px 12px 0 0;
}

.previewContainer:empty {
  @apply hidden;
}

.inputInner {
  @apply flex items-end pt-2 pb-2 w-full h-full;
}

.fileInput {
  @apply hidden;
}
.inputContainer {
  @apply flex p-2 items-center;
}

.attachment {
  @apply text-video-grey-400 h-5 w-5 mr-1;
}

.attachment:hover {
  @apply cursor-pointer;
}

.input {
  @apply flex flex-col items-center w-full bg-video-grey-800 border-2 text-sm border-video-grey-450 text-video-grey-400 w-full rounded-full;
}

.input.uploads {
  @apply rounded-[12px];
  border-radius: 12px;
}

.input textarea {
  @apply w-full bg-video-grey-800 w-full pt-2 pb-2 pl-4 pr-2 rounded-full;
  resize: none;
}

.input textarea:focus {
  outline: none;
}

.input.uploads textarea:focus {
  @apply outline-none;
}

.input textarea:focus {
  @apply outline-video-stream-500 outline-offset-0 border-none;
}

.button {
  @apply flex items-center justify-center h-[25px] w-[25px] bg-video-grey-300 rounded-full ml-4 mr-1 mb-1;
}
