* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
span,
p {
  color: var(--primary-text);
}

.secondaryText {
  color: var(--secondary-text);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(
    to left top,
    var(--background-color-light),
    var(--background-color)
  );
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-panel, .error-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  color: var(--primary-text);
}

.app-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-panel {
  margin-inline: auto;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  flex: 1;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hidden {
  display: none;
}


@media screen and (max-width: 800px) {
  #root {
    padding: 0;
  }

  .intro-area img {
    width: 6rem;
  }

  .app-container {
    display: flex;
    flex-direction: column;
  }

  .login-screen {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
  }
}


