.form-modal-background-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}
.form-container {
  background: #fff;
  border: 3px solid var(--prominent-color-light);
  padding: 1rem;
  width: 300px;
  border-radius: 8px;
}

.form-container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-container__title {
  font-weight: 700;
  font-size: 1.25rem;
}

.form-container__header button.form-container__close-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container__header .form-container__close-button svg {
  width: 1.5rem;
  height: 1.5rem;
}

form {
  width: 100%;
}

form input {
  width: 100%;
  border: 2px solid var(--prominent-color-light);
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
}

form button {
  margin-top: 0.75rem;
}

.create-button {
  background: blue;
  color: white;
  padding: 0.6rem 1.2rem;
}

.create-button:hover {
  background: hsl(240, 100%, 70%);
}
