.intro-area {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.intro-area img {
  width: 8rem;
  aspect-ratio: 1;
  border-radius: 2rem;
  background: transparent;
}

.login-screen {
  display: flex;
  max-width: var(--max-width);
  flex-wrap: wrap;
  margin: auto;
  padding: 2rem;
  align-items: center;
  gap: 4rem;
  height: 100%;
  overflow-y: auto;
}

.login-screen > * {
  flex: 1;
}

/*@media screen and (max-width: 800px) {*/
/*  .login-screen {*/
/*    grid-template-columns: 1fr;*/
/*    gap: 2rem;*/
/*    padding: 1rem;*/
/*  }*/
/*}*/

.user-list {
  border-radius: 1rem;
  max-width: 300px;
}

.user-list button {
  padding: 0.5rem 1rem;
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
  transition: background 150ms ease-out;
  cursor: pointer;
}

.user-list button:hover {
  background: var(--background-color-light);
}

.user-list button:not(:last-child) {
  margin-bottom: 0.5rem;
}
