
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-right: 2px solid #c4c4c4;
}

.sidebar-top,
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sidebar-bottom {
  position: relative;
}

.sidebar img {
  width: 100px;
  height: 100px;
}

.sidebar .profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.sidebar .username {
  font-size: 1.25rem;
  font-weight: 700;
}

.sidebar .filled-button {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .sidebar {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-right: unset;
    border-bottom: 2px solid #c4c4c4;
    padding: 0.5rem;
    background: var(--background-color);
  }

  .sidebar .profile {
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  .sidebar .username {
    font-size: 0.75rem;
    padding-block: .375rem;
  }

  .sidebar img {
    width: 60px;
  }

  .sidebar .sidebar-top {
    flex-direction: row-reverse;
  }

  .sidebar .sidebar-top img,
  .sidebar .str-video__avatar--initials-fallback {
    width: 50px;
    height: 50px;
    font-size: 1.25rem;
  }

  .sidebar .sidebar-bottom {
    flex-direction: row-reverse;
  }

  .sidebar .filled-button span {
    display: none;
  }
}
