:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-text: #333;
  --secondary-text: #999;

  --max-width: 1280px;

  --prominent-color: hsl(33, 68%, 54%);
  --prominent-color-light: hsl(33, 68%, 74%);

  --background-color: hsl(36, 31%, 81%);
  --background-color-light: hsl(37, 31%, 91%);

  --header-height: 80px;
}
