.eca__dominant-speaker-screen-share__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .eca__dominant-speaker-screen-share__player {
    flex: 1;
  }

  .eca__dominant-speaker-screen-share__current-speaker {
    position: absolute;
    width: 240px;
    right: 10px;
  }
}
