.user-list {
  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > h3 {
      margin: 0;
    }
  }

  list-style: none;
  width: 400px;
  background-color: #fffbfe;
  border-radius: 10px;
  padding: 20px 10px;

  .user-list-item {
    padding: 5px;
    border-bottom: 1px solid #cac4d0;

    &--avatar-name {
      display: flex;
      gap: 5px;
      align-items: center;
    }
    &--link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: transparent;
      text-decoration: none;
      color: #1c1b1f;
      cursor: pointer;
      border: none;
      & > span {
        font-size: 10px;
      }

    }

    &:hover {
      background-color: #f2ecec;
    }

    &:last-child {
      border: none;
    }
  }
}
