* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #00080f;
  color: #fff;
}

.binary-system {
  width: 100px;
  height: 100px;
  position: relative;
}

.binary-system__alpha,
.binary-system__beta {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: plus-lighter;
  transition-property: transform;
  transition-duration: var(--binary-system-transition-duration);
  transition-timing-function: linear;
}

.binary-system__alpha {
  transform: rotate(
      calc(var(--binary-system-rotation) + var(--binary-system-attack) / 2)
    )
    translateX(calc(-1 * var(--binary-system-offset) / 2)) scale(0.75);
}

.binary-system__beta {
  transform: rotate(
      calc(var(--binary-system-rotation) + -1 * var(--binary-system-attack) / 2)
    )
    translateX(calc(var(--binary-system-offset) / 2)) scale(0.75);
}

.aura {
  border-radius: 50%;
}

[debug] .aura {
  filter: none !important;
}

.aura_alpha {
  width: 100px;
  height: 42.5px;
}

.aura_beta {
  width: 55px;
  height: 22px;
}

.aura_ai.aura_alpha {
  filter: blur(24px);
  background: #0055ff;
}

.aura_ai.aura_beta {
  filter: blur(12px);
  background: #1af0ff60;
}

.aura_user {
  filter: blur(30px);
}

.aura_user.aura_alpha {
  background: #f74069;
}

.aura_user.aura_beta {
  background: #f759db60;
}

.aura-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.aura-container::before {
  content: "";
  position: absolute;
  inset: -20%;
  z-index: -1;
  background: radial-gradient(
    ellipse 60% 50%,
    #000 58%,
    #f1f1f180 74%,
    #fff 80%,
    #fff 90%,
    transparent 100%
  );
  transform: rotate(-30deg);
  opacity: 7%;
}

.aura-container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: radial-gradient(
    ellipse farthest-side at top,
    transparent 50%,
    #ffffffb4 100%
  );
  opacity: 5%;
}

.aura-container__scaler {
  transform: scale(var(--aura-container-factor));
  transform-origin: center center;
}

.aura-volumeter {
  transform: scale(var(--aura-volumeter-scale));
  filter: brightness(var(--aura-volumeter-brightness));
}

.ai-captions {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  font: 14px/16px monospace;
}

.ai-captions__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.3s ease-in-out;
  transition-property: transform, filter, opacity;
}

.ai-captions__caption:nth-child(1) {
  animation: ai-caption-fly-in 0.3s ease-out;
}

@keyframes ai-caption-fly-in {
  from {
    transform: translateY(20px) scale(1.2);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.ai-captions__caption:nth-child(2) {
  transform: translateY(-20px);
  filter: blur(3px);
}

.ai-captions__caption:nth-child(3) {
  transform: translateY(-40px);
  filter: blur(5px);
}

.ai-captions__caption:nth-child(4) {
  transform: translateY(-60px);
  filter: blur(8px);
}

.ai-captions__caption:nth-child(5) {
  transform: translateY(-80px);
  filter: blur(13px);
}

.ai-captions__caption:nth-child(6) {
  transform: translateY(-100px);
  filter: blur(21px);
  opacity: 0;
}
