.rd__feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: var(--str-video__background-core-elevation-1);
  border-radius: var(--str-video__radius-xl);
  padding: var(--str-video__spacing-2xl) var(--str-video__spacing-xl)
    var(--str-video__spacing-xl);

  width: 100%;
  box-shadow: var(--str-video__box-shadow-4);
}

.rd__feedback-image {
  width: 300px;
}

.rd__feedback-heading {
  font-weight: var(--str-video__typography-font-weight-semi-bold);
  font-size: var(--str-video__typography-font-size-xl);
  line-height: var(--str-video__typography-line-height-relaxed);
  margin: 0;
}

.rd__feedback-description {
  color: var(--str-video__text-secondary);
  font-size: var(--str-video__typography-font-size-sm);
  line-height: var(--str-video__typography-line-height-normal);
  margin: var(--str-video__spacing-md) 0 var(--str-video__spacing-sm) 0;
}

.rd__feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--str-video__spacing-md);
  width: 100%;
}

.rd__feedback-input,
.rd__feedback-textarea {
  min-block-size: 40px;
  padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);
  margin-bottom: var(--str-video__spacing-sm);
  border: var(--str-video__w100) solid var(--str-video__border-core-default);
  border-radius: var(--str-video__input-radius-text-input);
  background-color: transparent;
  width: 100%;
  color: var(--str-video__input-text-default);
  font-size: var(--str-video__typography-font-size-sm);
  line-height: var(--str-video__typography-line-height-normal);
  font-weight: var(--str-video__typography-font-weight-regular);

  &::placeholder {
    color: var(--str-video__input-text-placeholder);
  }

  &:focus,
  &:focus-visible {
    outline: var(--str-video__w200) solid
      var(--str-video__border-utility-focused);
    outline-offset: calc(var(--str-video__w100) * -1);
  }
}

.rd__feedback-textarea {
  height: 100px;
}

.rd__feedback-footer {
  width: 100%;
  padding-top: var(--str-video__spacing-md);
  padding-bottom: var(--str-video__spacing-md);
}

.rd__feedback-rating-stars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--str-video__spacing-md);
}

.rd__feedback-star {
  cursor: pointer;
  width: 56px;
  height: 56px;
}

.rd__feedback-star--active-bad,
.rd__feedback-star--bad:hover {
  background-color: var(--str-video__accent-error);
}

.rd__feedback-star--active-good,
.rd__feedback-star--good:hover {
  background-color: var(--str-video__accent-warning);
}

.rd__feedback-star--active-great,
.rd__feedback-star--great:hover {
  background-color: var(--str-video__accent-success);
}

.rd__feedback-actions {
  display: flex;
  justify-content: space-between;
  gap: var(--str-video__spacing-sm);
}
