.str-video__feedback {
  border-radius: var(--str-video__border-radius-lg);
  min-width: 30vw;

  background-color: var(--str-video__base-color7);
  border-radius: var(--str-video__border-radius-lg);
  padding: var(--str-video__spacing-md);
  width: 100%;
}

.str-video__feedback-heading {
}

.str-video__feedback-description {
}

.str-video__feedback-form {
}

.str-video__feedback-input {
}

.str-video__feedback-textarea {
}

.str-video__feedback-footer {
}

.str-video__feedback-rating-description {
}

.str-video__feedback-rating {
}

.str-video__feedback-rating-stars {
}

.str-video__feedback-star {
}

.str-video__feedback-star:hover {
}
.str-video__feedback-star.str-video__feedback-active {
}

.str-video__feedback-sent {
}

.str-video__feedback-button {
}

.str-video__feedback-heading {
}

.str-video__feedback-close {
}

.str-video__feedback-close:hover {
}

.str-video__feedback-closeIcon {
}
