@use '../utils';

.str-video__call-recording-list {
  border-radius: var(--str-video__border-radius-lg);
  min-width: 50vw;

  background-color: var(--str-video__base-color7);
  border-radius: var(--str-video__border-radius-lg);
  padding: var(--str-video__spacing-md);
  width: 100%;
}

.str-video__call-recording-list__header {
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem 0.5rem; // todo: unify menu header paddings
  align-items: center;

  .str-video__call-recording-list__title {
    display: flex;
    gap: 0.5rem;
  }

  .str-video__call-controls__button {
    .str-video__icon {
      width: 1rem;
      height: 1rem;
    }
  }
}

.str-video__call-recording-list__listing {
  padding-inline: 0.5rem;
  max-height: 400px;
  overflow-y: auto;

  &.str-video__call-recording-list__listing--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding-block: 2rem;

    .str-video__call-recording-list__listing--icon-empty {
      width: 3rem;
      height: 3rem;
    }

    .str-video__call-recording-list__listing--text-empty {
      margin: 0;
    }
  }
}

.str-video__call-recording-list-item {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  padding-block: 0.125rem;

  .str-video__call-recording-list-item__info {
    display: flex;
    gap: 0.5rem;
  }

  .str-video__call-recording-list-item__actions {
    display: flex;

    .str-video__call-recording-list-item__action-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 1.5rem;
      height: 1.5rem;

      .str-video__call-recording-list-item__action-button-icon {
        display: block;
        width: 1.5rem;
        height: 1.5rem;

        &.str-video__copy-button--icon {
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}

.str-video__call-recording-list__listing {
  .str-video__loading-indicator {
    padding-block: 0.5rem;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;

    .str-video__loading-indicator__icon.spinner {
      height: 1rem;
      width: 1rem;
      mask-size: 1rem;
    }

    .str-video__loading-indicator-text {
      @include utils.ellipsis-text;
    }
  }
}
