.rd__auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &-image {
    width: 15vw;
  }

  &-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: var(--str-video__font-size-xxl);
    > span {
      color: var(--str-video__alert-success);
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: var(--str-video__spacing-xl);
    margin: 0;
  }

  &-item {
    margin-bottom: var(--str-video__spacing-md);
  }

  &-provider {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--str-video__border-radius-md);
    padding: var(--str-video__spacing-xs) var(--str-video__spacing-lg);
    text-align: center;
    min-width: 120px;
    font-size: var(--str-video__font-size-md);
    font-weight: 600;
    border: 1px solid var(--str-video__base-color3);
    color: var(--str-video__text-color1);
    background-color: var(--str-video__button-primary-base);

    &:hover {
      background-color: var(--str-video__button-primary-hover);
      cursor: pointer;
    }

    &__icon {
      margin-right: var(--str-video__spacing-xs);
      height: 16px;
      background-color: var(--str-video__brand-color1);
    }
  }

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--str-video__spacing-xs) var(--str-video__spacing-md);
    text-align: center;
    min-width: 120px;
    font-size: var(--str-video__font-size-md);
    font-weight: 600;
    width: 100%;

    &__icon {
      margin-right: var(--str-video__spacing-xs);
    }
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
