.rd__call-stats {
  border-radius: var(--str-video__border-radius-lg);
  background-color: var(--str-video__base-color7);
  padding: var(--str-video__spacing-sm);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  h3 {
    margin: unset;
  }
}

.rd__call-stats__header {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--str-video__spacing-sm);
}

.rd__call-stats__heading {
  display: flex;
  align-items: center;
}

.rd__call-stats__icon {
  margin-right: var(--str-video__spacing-xs);
  height: 18px;
  width: 18px;
}

.rd__call-stats__description {
  font-size: var(--str-video__font-size-sm);
  margin-bottom: var(--str-video__spacing-xs);
  font-weight: 600;
}

.rd__call-stats__latency-chart-container {
  position: relative;
  margin: auto;
  height: 170px;
  width: 100%;
}
