.rd__closed-captions {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rd__closed-captions__line {
  margin: 0;
  font-size: var(--str-video__font-size-md);
}

.rd__closed-captions__speaker {
  color: var(--str-video__text-color3);
}

.rd__closed-captions-sidebar {
  display: flex;
  flex-direction: column;

  padding: var(--str-video__spacing-md);

  .rd__closed-captions-sidebar__container {
    overflow-y: scroll;
    flex: 1;
    padding-bottom: var(--str-video__spacing-lg);

    .rd__closed-captions__line {
      line-height: 1.7;
      font-size: var(--str-video__font-size-sm);
    }
  }
}

.str-video__icon--closed-captions {
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE5IDRINWMtMS4xMSAwLTIgLjktMiAydjEyYzAgMS4xLjg5IDIgMiAyaDE0YzEuMSAwIDItLjkgMi0yVjZjMC0xLjEtLjktMi0yLTJ6bS04IDdIOS41di0uNWgtMnYzaDJWMTNIMTF2MWMwIC41NS0uNDUgMS0xIDFIN2MtLjU1IDAtMS0uNDUtMS0xdi00YzAtLjU1LjQ1LTEgMS0xaDNjLjU1IDAgMSAuNDUgMSAxdjF6bTcgMGgtMS41di0uNWgtMnYzaDJWMTNIMTh2MWMwIC41NS0uNDUgMS0xIDFoLTNjLS41NSAwLTEtLjQ1LTEtMXYtNGMwLS41NS40NS0xIDEtMWgzYy41NSAwIDEgLjQ1IDEgMXYxeiIvPjwvc3ZnPg==');
}
