.rd__invite-link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  width: 100%;
  position: relative;
  padding-block: 0.5rem;

  .rd__invite-link-tooltip {
    position: absolute;
    bottom: 110%;
  }

  .rd__invite-participant-icon {
    height: 20px;
    width: 20px;
  }
}
