.rd__layout {
  display: flex;
  height: calc(100% - 100px);
  gap: var(--str-video__spacing-md);
  padding: var(--str-video__spacing-md);
}

.rd__sidebar {
  position: absolute;
  z-index: 2;
  left: 0;
  display: flex;
  width: 100%;
  height: calc(100dvh - 60px);
  flex-direction: column;

  .str-video__participant-list {
    flex-grow: 1;
  }

  .str-video__chat {
    display: flex;
    flex-direction: column;
    background-color: var(--str-video__base-color7);
    border-radius: var(--str-video__border-radius-md);
    margin: var(--str-video__spacing-lg) 0;
    height: 100%;
  }
}

.rd__participants {
  display: flex;
  flex-direction: column;
  background-color: var(--str-video__base-color7);
  border-radius: var(--str-video__border-radius-md);
  padding: var(--str-video__spacing-lg);
  margin: var(--str-video__spacing-lg) 0;
  height: 100%;
}

@include respond-above(sm) {
  .rd__sidebar {
    position: relative;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    gap: var(--str-video__spacing-md);
    height: auto;
    overflow-y: scroll;
  }
}
