.rd__layout {
  display: flex;
  height: calc(100dvh - 140px);
  gap: var(--str-video__spacing-md);
  padding: var(--str-video__spacing-md);
  position: relative;
}

.rd__notifications {
  position: absolute;
  bottom: 60px;
  left: var(--str-video__spacing-lg);
  right: 0;
  z-index: 3;
}

.rd__sidebar {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: calc(100dvh - 60px);
  flex-direction: column;

  .str-video__participant-list {
    flex-grow: 1;
    height: calc(100dvh - 550px);
  }

  .str-video__chat {
    display: flex;
    flex-direction: column;
    background-color: var(--str-video__base-color7);
    border-radius: var(--str-video__border-radius-md);
    margin: var(--str-video__spacing-lg) 0;
    height: 100%;
  }
}

.rd__sidebar__call-stats {
  display: flex;
  height: 100%;
  overflow-y: scroll;
}

.rd__participants {
  display: flex;
  flex-direction: column;
  background-color: var(--str-video__base-color7);
  border-radius: var(--str-video__border-radius-md);
  padding: var(--str-video__spacing-lg);
  margin: var(--str-video__spacing-lg) 0;
  height: 100%;
}

@include respond-above(sm) {
  .rd__sidebar {
    position: relative;
    max-width: 350px;
    min-width: 350px;
    display: flex;
    gap: var(--str-video__spacing-md);
    height: auto;

    .str-video__chat {
      margin: 0;
    }
  }

  .rd__participants {
    margin: 0;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
