@use 'breakpoints';

.rd__leave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--str-video__spacing-md);

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    .rd__feedback {
      box-shadow: var(--str-video__box-shadow-4);
    }
  }
}

@include breakpoints.respond-above(sm) {
  .rd__leave-content {
    max-width: 35vw;
  }
}
