.rd {
  &__tabmodal-container {
    display: flex;
    border-radius: calc(
      // +2px to fix border radius issue
      var(--str-video__border-radius-lg) + 2px
    );
    width: 90vw;
    min-height: 65vh;
    border: 2px solid var(--str-video__base-color6);

    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.75);
  }

  &__tabmodal-header {
    font-size: 20px;
    font-weight: 500;
    padding-left: var(--str-video__spacing-md);
    display: none;
  }

  &__tabmodal-sidebar {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    min-width: 100px;

    background-color: var(--str-video__base-color5);
    border-radius: var(--str-video__border-radius-lg) 0 0
      var(--str-video__border-radius-lg);
    padding: var(--str-video__spacing-md) var(--str-video__spacing-md)
      var(--str-video__spacing-md) 0;
  }

  &__tabmodal-content {
    background-color: var(--str-video__base-color7);
    border-radius: 0 var(--str-video__border-radius-lg)
      var(--str-video__border-radius-lg) 0;
    padding: var(--str-video__spacing-md);
    width: 100%;
    max-height: 65vh;
    overflow: hidden;
  }

  &__tab-panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--str-video__spacing-md);
  }

  &__tab-panel__heading {
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
  }

  &__tab-panel__close {
    background-color: unset;
  }

  &__tab-panel__content {
    height: 65vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__tab {
    display: flex;
    align-items: center;
    padding: var(--str-video__spacing-sm) var(--str-video__spacing-md);

    font-size: 16px;
    margin-bottom: var(--str-video__spacing-sm);
    font-weight: 500;
    border-radius: 0 var(--str-video__border-radius-md)
      var(--str-video__border-radius-md) 0;

    &-icon {
      margin-right: var(--str-video__spacing-sm);
      height: 18px;
      width: 18px;
    }

    &-label {
      display: none;
    }

    &:first-of-type {
      margin-top: 40px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--str-video__button-default-hover);
    }

    &--active {
      background-color: var(--str-video__button-default-active);
      font-weight: 600;
    }
  }
}

@include respond-above(sm) {
  .rd {
    &__tabmodal-container {
      width: 65vw;
    }

    &__tabmodal-header {
      display: flex;
    }

    &__tabmodal-sidebar {
      width: 100vw;
    }

    &__tab {
      padding: var(--str-video__spacing-md);
      &-label {
        display: block;
      }
    }

    &__tabmodal-sidebar {
      width: 300px;
      flex-direction: column;
    }

    &__tab-panel {
      &__header {
        justify-content: flex-end;
      }
      &__heading {
        display: none;
      }
    }

    &__tab-panel__content {
      .rd__video-effects {
        padding: var(--str-video__spacing-lg);

        .rd__video-effects__container {
          display: flex;
          gap: 16px;
        }

        .rd__video-effects__list {
          padding-top: var(--str-video__spacing-md);
          display: flex;
          gap: 8px;
        }

        .rd__video-effects__list-box {
          width: 48px;
          height: 48px;
          border: 1px solid var(--str-video__base-color6);
          border-radius: calc(
            // +1px to fix border radius issue
            var(--str-video__border-radius-xs) + 1px
          );

          &:hover {
            border-color: var(--str-video__brand-color1);
          }
        }

        .rd__video-effects--option {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: var(--str-video__border-radius-xs);
        }
      }
    }
  }
}

.str-video__icon--blur-icon {
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9Ijc2OCIgaGVpZ2h0PSI3NjgiIHZpZXdCb3g9IjAgMCA3NjggNzY4Ij4KPHBhdGggZmlsbD0iIzAwMCIgZD0iTTQ0OC41IDI3MS41cTE5LjUgMCAzMy43NSAxNC4yNXQxNC4yNSAzMy43NS0xNC4yNSAzMy43NS0zMy43NSAxNC4yNS0zMy43NS0xNC4yNS0xNC4yNS0zMy43NSAxNC4yNS0zMy43NSAzMy43NS0xNC4yNXpNNDQ4LjUgNDAwLjVxMTkuNSAwIDMzLjc1IDE0LjI1dDE0LjI1IDMzLjc1LTE0LjI1IDMzLjc1LTMzLjc1IDE0LjI1LTMzLjc1LTE0LjI1LTE0LjI1LTMzLjc1IDE0LjI1LTMzLjc1IDMzLjc1LTE0LjI1ek0zMTkuNSA1NDQuNXExMy41IDAgMjMuMjUgOXQ5Ljc1IDIyLjUtOS43NSAyMi41LTIzLjI1IDktMjIuNS05LTktMjIuNSA5LTIyLjUgMjIuNS05ek0zMTkuNSAyNzEuNXExOS41IDAgMzMuNzUgMTQuMjV0MTQuMjUgMzMuNzUtMTQuMjUgMzMuNzUtMzMuNzUgMTQuMjUtMzMuNzUtMTQuMjUtMTQuMjUtMzMuNzUgMTQuMjUtMzMuNzUgMzMuNzUtMTQuMjV6TTQ0OC41IDY1NS41cTE1IDAgMTUgMTYuNXQtMTUgMTYuNXEtMTYuNSAwLTE2LjUtMTYuNXQxNi41LTE2LjV6TTQ0OC41IDU0NC41cTEzLjUgMCAyMi41IDl0OSAyMi41LTkgMjIuNS0yMi41IDktMjMuMjUtOS05Ljc1LTIyLjUgOS43NS0yMi41IDIzLjI1LTl6TTY3MiA0MzJxMTYuNSAwIDE2LjUgMTYuNSAwIDE1LTE2LjUgMTV0LTE2LjUtMTVxMC0xNi41IDE2LjUtMTYuNXpNNTc2IDE2MC41cTEzLjUgMCAyMi41IDl0OSAyMi41LTkgMjIuNS0yMi41IDktMjIuNS05LTktMjIuNSA5LTIyLjUgMjIuNS05ek01NzYgMjg4cTEzLjUgMCAyMi41IDl0OSAyMi41LTkgMjMuMjUtMjIuNSA5Ljc1LTIyLjUtOS43NS05LTIzLjI1IDktMjIuNSAyMi41LTl6TTU3NiA1NDQuNXExMy41IDAgMjIuNSA5dDkgMjIuNS05IDIyLjUtMjIuNSA5LTIyLjUtOS05LTIyLjUgOS0yMi41IDIyLjUtOXpNNTc2IDQxNS41cTEzLjUgMCAyMi41IDkuNzV0OSAyMy4yNS05IDIyLjUtMjIuNSA5LTIyLjUtOS05LTIyLjUgOS0yMy4yNSAyMi41LTkuNzV6TTMxOS41IDQwMC41cTE5LjUgMCAzMy43NSAxNC4yNXQxNC4yNSAzMy43NS0xNC4yNSAzMy43NS0zMy43NSAxNC4yNS0zMy43NS0xNC4yNS0xNC4yNS0zMy43NSAxNC4yNS0zMy43NSAzMy43NS0xNC4yNXpNMzE5LjUgMjIzLjVxLTEzLjUgMC0yMi41LTl0LTktMjIuNSA5LTIyLjUgMjIuNS05IDIzLjI1IDkgOS43NSAyMi41LTkuNzUgMjIuNS0yMy4yNSA5ek0zMTkuNSAxMTIuNXEtMTUgMC0xNS0xNi41dDE1LTE2LjVxMTYuNSAwIDE2LjUgMTYuNXQtMTYuNSAxNi41ek0zMTkuNSA2NTUuNXExNi41IDAgMTYuNSAxNi41dC0xNi41IDE2LjVxLTE1IDAtMTUtMTYuNXQxNS0xNi41ek05NiA0MzJxMTYuNSAwIDE2LjUgMTYuNSAwIDE1LTE2LjUgMTV0LTE2LjUtMTVxMC0xNi41IDE2LjUtMTYuNXpNNDQ4LjUgMTEyLjVxLTE2LjUgMC0xNi41LTE2LjV0MTYuNS0xNi41cTE1IDAgMTUgMTYuNXQtMTUgMTYuNXpNNDQ4LjUgMjIzLjVxLTEzLjUgMC0yMy4yNS05dC05Ljc1LTIyLjUgOS43NS0yMi41IDIzLjI1LTkgMjIuNSA5IDkgMjIuNS05IDIyLjUtMjIuNSA5ek02NzIgMzM2cS0xNi41IDAtMTYuNS0xNi41IDAtMTUgMTYuNS0xNXQxNi41IDE1cTAgMTYuNS0xNi41IDE2LjV6TTE5MiAxNjAuNXExMy41IDAgMjIuNSA5dDkgMjIuNS05IDIyLjUtMjIuNSA5LTIyLjUtOS05LTIyLjUgOS0yMi41IDIyLjUtOXpNOTYgMzA0LjVxMTYuNSAwIDE2LjUgMTUgMCAxNi41LTE2LjUgMTYuNXQtMTYuNS0xNi41cTAtMTUgMTYuNS0xNXpNMTkyIDI4OHExMy41IDAgMjIuNSA5dDkgMjIuNS05IDIzLjI1LTIyLjUgOS43NS0yMi41LTkuNzUtOS0yMy4yNSA5LTIyLjUgMjIuNS05ek0xOTIgNTQ0LjVxMTMuNSAwIDIyLjUgOXQ5IDIyLjUtOSAyMi41LTIyLjUgOS0yMi41LTktOS0yMi41IDktMjIuNSAyMi41LTl6TTE5MiA0MTUuNXExMy41IDAgMjIuNSA5Ljc1dDkgMjMuMjUtOSAyMi41LTIyLjUgOS0yMi41LTktOS0yMi41IDktMjMuMjUgMjIuNS05Ljc1eiI+PC9wYXRoPgo8L3N2Zz4K');
}
.str-video__icon--video-effects {
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE5IDlsMS4yNS0yLjc1TDIzIDVsLTIuNzUtMS4yNUwxOSAxbC0xLjI1IDIuNzVMMTUgNWwyLjc1IDEuMjVMMTkgOXptLTcuNS41TDkgNCA2LjUgOS41IDEgMTJsNS41IDIuNUw5IDIwbDIuNS01LjVMMTcgMTJsLTUuNS0yLjV6TTE5IDE1bC0xLjI1IDIuNzVMMTUgMTlsMi43NSAxLjI1TDE5IDIzbDEuMjUtMi43NUwyMyAxOWwtMi43NS0xLjI1TDE5IDE1eiIvPjwvc3ZnPg==');
}
.str-video__icon--no-effects {
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyczQuNDggMTAgMTAgMTAgMTAtNC40OCAxMC0xMFMxNy41MiAyIDEyIDJ6bTAgMThjLTQuNDIgMC04LTMuNTgtOC04IDAtMS44NS42My0zLjU1IDEuNjktNC45TDE2LjkgMTguMzFDMTUuNTUgMTkuMzcgMTMuODUgMjAgMTIgMjB6bTYuMzEtMy4xTDcuMSA1LjY5QzguNDUgNC42MyAxMC4xNSA0IDEyIDRjNC40MiAwIDggMy41OCA4IDggMCAxLjg1LS42MyAzLjU1LTEuNjkgNC45eiIvPjwvc3ZnPg==');
}

@include respond-above(lg) {
  .rd {
    &__tabmodal-container {
      width: 55vw;
    }
  }
}
