@use 'breakpoints';

.rd {
  &__tabmodal-container {
    display: flex;
    border-radius: calc(
      // +2px to fix border radius issue
      var(--str-video__radius-3xl) + 2px
    );
    width: 90vw;
    min-height: 65vh;
    border: 2px solid var(--str-video__border-core-subtle);

    box-shadow: var(--str-video__box-shadow-4);
  }

  &__tabmodal-header {
    font-size: var(--str-video__typography-font-size-xl);
    font-weight: 500;
    padding-left: var(--str-video__spacing-sm);
    display: none;
  }

  &__tab-panel {
    display: flex;
    flex-direction: column;
    height: 100%;

    .str-video__device-settings__device-kind {
      margin-block-end: var(--str-video__spacing-md);
    }
  }

  &__tabmodal-sidebar {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    min-width: 100px;

    background-color: var(--str-video__background-core-elevation-1);
    border-inline-end: 1px solid var(--str-video__border-core-subtle);
    border-radius: var(--str-video__radius-3xl) 0 0 var(--str-video__radius-3xl);
    padding: var(--str-video__spacing-xxs);
  }

  &__tabmodal-content {
    background-color: var(--str-video__background-core-elevation-1);
    border-radius: 0 var(--str-video__radius-3xl) var(--str-video__radius-3xl) 0;
    padding: var(--str-video__spacing-sm);
    width: 100%;
    max-height: 65vh;
    overflow: hidden;
  }

  &__tab-panel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--str-video__spacing-sm);
  }

  &__tab-panel__heading {
    font-size: var(--str-video__typography-font-size-xl);
    font-weight: 500;
    margin-right: auto;
  }

  &__tab-panel__note {
    font-size: var(--str-video__typography-font-size-xs);
    line-height: var(--str-video__typography-line-height-tight);
    color: var(--str-video__text-secondary);
    padding: 0 var(--str-video__spacing-md) var(--str-video__spacing-md);
  }

  &__tab-panel__close {
    background-color: unset;
  }

  &__tab-panel__content {
    height: 65vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    .rd__video-effects {
      padding: var(--str-video__spacing-md);

      .rd__video-effects__list {
        padding-top: var(--str-video__spacing-sm);
        display: flex;
        flex-wrap: wrap;
        gap: var(--str-video__spacing-xs);

        .rd__video-effects__blur--high,
        .rd__video-effects__blur--medium,
        .rd__video-effects__blur--low {
          .str-video__composite-button__action {
            --str-video__button-px-icon-only: var(--str-video__spacing-xxs);
          }
        }

        .rd__video-effects__blur--high .str-video__icon {
          inline-size: 2rem;
          block-size: 2rem;
        }

        .str-video__composite-button__action[aria-pressed='true'] {
          outline: var(--str-video__w200) solid
            var(--str-video__border-utility-active);
          outline-offset: var(--str-video__w200);
        }

        .rd__video-effects__blur--medium .str-video__icon {
          inline-size: 1.7rem;
          block-size: 1.7rem;
        }

        .rd__video-effects__blur--low .str-video__icon {
          inline-size: 1.25rem;
          block-size: 1.25rem;
        }
      }

      .rd__video-effects__preview-container {
        display: flex;
        flex-direction: column;
        min-height: 230px;
        max-width: 480px;
        position: relative;

        .str-video__video-preview-container {
          width: 100%;
        }

        .rd__video-effects__progress-bar {
          width: 100%;
          height: 4px;
          background-color: var(--str-video__background-core-surface-subtle);
          border-radius: 0 0 var(--str-video__radius-md);
          overflow: hidden;
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);

          &__fill {
            height: 100%;
            width: 20%;
            background-color: var(--str-video__accent-primary);
            border-radius: var(--str-video__radius-md);
            position: absolute;
            animation: rd__video-effects__progress-bar__animation 1.5s
              ease-in-out infinite;
          }
        }
      }

      .rd__video-effects__image {
        width: 180px;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border: 1px solid var(--str-video__background-core-surface-subtle);
        border-radius: var(--str-video__radius-md);
        display: inline-block;

        &:hover {
          border-color: var(--str-video__accent-primary);
        }

        &--active {
          border-color: var(--str-video__accent-primary);
        }
      }
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    gap: var(--str-video__spacing-sm);
    min-block-size: 40px;
    padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);

    color: var(--str-video__text-primary);
    font-size: var(--str-video__typography-font-size-sm);
    line-height: var(--str-video__typography-line-height-normal);
    font-weight: var(--str-video__typography-font-weight-regular);
    border-radius: var(--str-video__radius-md);

    &-icon {
      height: var(--str-video__icon-size-sm);
      width: var(--str-video__icon-size-sm);
    }

    &-label {
      display: none;
    }

    &:first-of-type {
      margin-top: 40px;
    }

    &:hover {
      cursor: pointer;
      background-image: linear-gradient(
        var(--str-video__background-utility-hover),
        var(--str-video__background-utility-hover)
      );
    }

    &--active {
      background-image: linear-gradient(
        var(--str-video__background-utility-selected),
        var(--str-video__background-utility-selected)
      );
    }
  }
}

@include breakpoints.respond-above(sm) {
  .rd {
    &__tabmodal-container {
      width: 65vw;
    }

    &__tabmodal-header {
      display: flex;
    }

    &__tabmodal-sidebar {
      width: 100vw;
    }

    &__tab {
      padding: var(--str-video__spacing-xs) var(--str-video__spacing-sm);

      &-label {
        display: block;
      }
    }

    &__tabmodal-sidebar {
      width: 300px;
      flex-direction: column;
    }

    &__tab-panel {
      &__header {
        justify-content: flex-end;
      }

      &__heading {
        display: none;
      }
    }

    &__tab-panel__content {
      .rd__video-effects {
      }
    }
  }
}

@include breakpoints.respond-above(lg) {
  .rd {
    &__tabmodal-container {
      width: 55vw;
    }
  }
}

@include breakpoints.respond-above(xlg) {
  .rd {
    &__tabmodal-container {
      width: 45vw;
    }
  }
}

@keyframes rd__video-effects__progress-bar__animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(500%);
  }
}
