.str-video.str-video__embedded {
  background-color: var(--str-video__base-color4);
  color: var(--str-video__text-color1);
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  container-type: inline-size;
}
