@use '../../../utils';

.str-video__embedded-call-duration {
  display: flex;
  align-items: center;
  gap: var(--str-video__spacing-xxs);
  white-space: nowrap;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__time {
    font-size: 0.875rem;
    font-weight: 500;
  }
}
