@use '../../../utils';

.str-video__embedded-call-duration {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;

  &__icon {
    width: 16px;
    height: 16px;
  }

  &__time {
    font-size: 0.875rem;
    font-weight: 500;
    font-variant-numeric: tabular-nums;
  }
}

.str-video__embedded-call-controls.str-video__call-controls {
  justify-content: flex-start;
  padding: var(--str-video__spacing-lg);
  gap: 0.25rem;

  .str-video__call-controls--group {
    flex: 1;
    display: flex;
    gap: 0.25rem;
    align-items: center;

    &.str-video__call-controls--media {
      justify-content: center;
      margin-left: 0;
    }

    &.str-video__call-controls--sidebar {
      width: 100%;
      justify-content: flex-end;
    }
  }
}

@include utils.respond-above(sm) {
  .str-video__embedded-call-controls.str-video__call-controls {
    justify-content: space-between;
    gap: 0.5rem;

    .str-video__call-controls--group {
      gap: 0.5rem;

      &.str-video__call-controls--sidebar {
        width: unset;
        justify-content: flex-end;
      }
    }
  }
}
