.str-video__embedded-call-duration {
  background-color: var(--str-video__background-core-surface-default);
  color: var(--str-video__text-primary);

  &__icon {
    background-color: var(--str-video__accent-success);
  }

  &__time-leading {
    color: var(--str-video__text-tertiary);
  }
}
