.root {
  @apply flex flex-col items-center;
}

.toggle {
  @apply flex items-center bg-demo-background-black rounded-container pl-1 pr-1;
}

.toggle.active {
  @apply bg-demo-grey-light;
}

.toggle.disabled {
  @apply bg-demo-grey-lighter;
}

.container {
  @apply relative;
}

.button {
  @apply grid p-0;
  grid-template-areas: 'prefix toggleIndicator';
}

.prefix {
  grid-area: prefix;
}

.toggleIndicator {
  @apply bg-transparent rounded-container flex items-center  p-1;
  grid-area: toggleIndicator;
  width: 15px;
  height: 100%;
}

.toggleIndicator.active {
  @apply bg-demo-background-black;
}

.toggleIndicator.disabled {
  @apply bg-demo-grey-lighter;
}

.toggleIcon {
  @apply text-demo-grey-light;
  height: 15px;
}

.label {
  @apply text-white text-xs mt-1;
}
