mat-icon {
  font-family: 'Material Icons';
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  opacity: 0 !important;
}

.clear-search {
  cursor: pointer;
}
