name: Run E2E tests on React Native
env:
  STREAM_SDK_TEST_APP: ${{ vars.STREAM_SDK_TEST_APP }}
  STREAM_SDK_TEST_ACCOUNT_EMAIL: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_EMAIL }}
  STREAM_SDK_TEST_ACCOUNT_PASSWORD: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_PASSWORD }}
  STREAM_SDK_TEST_ACCOUNT_OTP_SECRET: ${{ secrets.STREAM_SDK_TEST_ACCOUNT_OTP_SECRET }}
on:
  push:
    paths:
      - 'packages/client/**'
      - 'packages/react-bindings/**'
      - 'packages/react-native-sdk/**'
      - 'packages/react-native-meeting-starter-kit/**'
      - '.github/**'
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
concurrency:
  group: react-native-e2e-testing-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_ios:
    name: Test iOS
    timeout-minutes: 60
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: ESLint Cache
        uses: actions/cache@v3
        with:
          path: './.eslintcache'
          key: ${{ runner.os }}-eslintcache-${{ github.ref_name }}-${{ hashFiles('.eslintcache') }}
      - name: Install Yarn Dependencies
        run: yarn install --immutable
      - name: Build react native dependency packages
        run: yarn build:react-native:deps
      - name: Install Ruby and Gems
        uses: ruby/setup-ruby@v1
        with:
          working-directory: packages/react-native-meeting-starter-kit
          bundler-cache: true
      - name: Cache pods
        uses: actions/cache@v3
        with:
          path: packages/react-native-meeting-starter-kit/ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('packages/react-native-meeting-starter-kit/ios/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-
      - name: iOS pods setup
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 30
          max_attempts: 3
          command: |
            cd packages/react-native-meeting-starter-kit/ios;
            bundle exec pod install;
      - name: Install Stream Video Buddy
        run: npm install -g "https://github.com/GetStream/stream-video-buddy#1.6.7"
      - name: Install Maestro
        run: curl -Ls "https://get.maestro.mobile.dev" | bash
      - name: Run tests
        with:
          working-directory: packages/react-native-meeting-starter-kit
        run: ./e2e/run_tests.sh --android

  deploy_android:
    name: Test Android
    timeout-minutes: 30
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Install Yarn Dependencies
        run: yarn install --immutable
      - name: Install Stream Video Buddy
        run: npm install -g "https://github.com/GetStream/stream-video-buddy#1.6.7"
      - name: Install Maestro
        run: curl -Ls "https://get.maestro.mobile.dev" | bash
      - name: Run tests
        with:
          working-directory: packages/react-native-meeting-starter-kit
        run: ./e2e/run_tests.sh --android
