.backstage-header {
  display: flex;
  align-items: center;
  padding: 16px 24px;

  .backstage-header-section {
    flex: 1;

    &.pull-left {
      display: flex;

      .backstage-header-details {
        .backstage-header-title {
          font-style: normal;
          font-weight: 500;
          font-size: var(--str-video__typography-font-size-xl);
          line-height: var(--str-video__typography-line-height-relaxed);
          margin: 0;
          color: var(--str-video__text-primary);
        }

        .backstage-header-subtitle {
          font-style: normal;
          font-weight: 400;
          font-size: var(--str-video__typography-font-size-md);
          line-height: var(--str-video__typography-line-height-normal);
          margin: 0;
          color: var(--str-video__text-secondary);
        }
      }
    }

    &.pull-center {
      display: flex;
      justify-content: center;
    }

    &.pull-right {
      text-align: right;
    }
  }
}
